{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width = device-width , initial-scale=1 ,maximum-scale=1 " />
	<title>{{ curso.nombre }} Online de Mejorando.la</title>

	<meta name="description" content="{{ curso.nombre }} Online del 4 al 13 de diciembre con @freddier, @cvander, @ajamaica y @siedrix" />

	<meta property="og:title" content="{{ curso.nombre }} Online de Mejorando.la" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{% url cursos.views.curso curso.slug %}" />
	<meta property="og:image" content="http://mejorando.la/cursos_static/images/plantilla-cursos/html5-logo.png" />
	<meta property="og:site_name" content="http://mejorando.la/" />
	<meta property="fb:admins" content="1030603473" />
	<link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico" />
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}cursos/css/index.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script src="https://js.stripe.com/v1/"></script>

	<script>
	var config = { 'moneda': '{{ curso.moneda }}', 'precio': '{{ curso.precio }}', 'nombre': '{{ curso.nombre }}'}
	</script>
	<script src="{{ STATIC_PREFIX }}cursos/js/index.js"></script>
</head>
<body>

	<header><div class="wrapper">
		<h1><a href="{% url website.views.home %}"><img src="{{ STATIC_PREFIX }}cursos/images/logo.gif" alt="Mejorando.la" /></a></h1>

		<ul>
			<li><a href="http://maestrosdelweb.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/maestros.gif" alt="maestrosdelweb.com" /></a></li>
			<li><a href="http://cristalab.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/cristalab.gif" alt="cristalab.com" /></a></li>
		</ul>
	</div></header>


	<div class="main">
		<h1>{{ curso.nombre }} <strong>Online</strong></h1>

		<div class="wrapper">
		<div class="top">
			<div class="video">
				<a href="http://www.youtube.com/embed/x4ZwpiKR7ew" target="_blank" id="video-link">
			    	<img src="{{ curso.get_imagen }}" width="666" alt="{{ curso.nombre }}" class="main-image" />
			    	<button></button>
			    </a>
			</div>

			

			<div class="descripcion">				

				<p>{{ curso.descripcion|safe }}</p>

				<button class="registrate">Registrate al curso por <strong>${{ curso.precio }} USD</strong></button>

				<div class="contacto">
					<p class="skype"><a href="skype:mejorandola?call">
						<span>Skype</span>	mejorandola</a></p>

					<p class="telefono"><span>Teléfono</span>3470124</p>					
				</div>

				<div class="horarios">
					<p>Puedes llamarnos de Lunes a Viernes<br />de 9:00a.m. a 6:00p.m.</p>
				</div>
			</div>
		</div>

		<div class="middle">
			<div class="tabs" id="tabs">
				<a class="selector">
					<h2><strong>4, 5 y 6 de diciembre</strong>HTML5, CSS3 y Javascript</h2>
					<h3>Sesiones en vivo con profesores de 7pm a 9pm</h3>
				</a>

				<div class="tab">
					<ol>
						<li>Bases de maquetación y diseño web</li>
						<li>Introducción a Responsive Design</li>
						<li>Introducción a Retina Design</li>
						<li>Base de la programación web frontend</li>
						<li>Semántica y estructura HTML5</li>
						<li>Diseño y maquetación con CSS3 </li>
						<li>Fuentes y tipografías con font-face</li>
						<li>Video y audio HTML5</li>
						<li>Animaciones de transición y transformación</li>
						<li>jQuery</li>
					</ol>
				</div>


				<a class="selector">
					<h2><strong>11, 12 y 13 de diciembre</strong>JS avanzado, Node.js y Python/Django</h2>
					<h3>Sesiones en vivo con profesores de 7pm a 9pm</h3>
				</a>

				<div class="tab">
					<ol>
							<li>localStorage, almacenamiento en disco desde JS</li>
							<li>Geolocalización Javascript</li>
							<li>Introducción a Node.js</li>
							<li>Eventos y aplicaciones web real time</li>
							<li>Introducción a Backbone.js</li>
							<li>Web apps con Express.js</li>
							<li>Programación con Python</li>
							<li>Web apps con Django</li>
							<li>Bases de datos y sistemas de admin con Django</li>
							<li>Phonegap</li>
							<li>Control de versiones y Github</li>
						</ol>
				</div>

			</div>
			
			<div class="direccion">
				<a href="https://maps.google.com/maps?q=Hotel+RoyalPark+Metrotel+Calle+74+%2313-27.&hl=es&ll=4.660555,-74.059321&spn=0.008373,0.009109&sll=4.660587,-74.05946&sspn=0.008373,0.009109&hq=Hotel+RoyalPark+Metrotel+Calle+74+%2313-27.&radius=15000&t=m&z=17&iwloc=A" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?size=335x124&maptype=roadmap&markers=icon:http://mejorando.la/nuevaVenta/images/marker.png%7C4.660523,-74.059473&zoom=17&sensor=false" /></a>

				<address>
				<h2>{{ curso.pais }}</h2>

				<p>Desde Mejorando.la Plataforma. Sesiones en vivo con profesores de 7pm a 9pm.</p>
				</address>
			</div>
		</div>

		<div class="docentes">
			{% for docente in curso.docentes %}
			<div class="docente docente{{ forloop.counter}}">
				<div class="pic">
					<img src="{{ docente.get_imagen }}" alt="{{ docente.nombre }} @{{ docente.twitter }}" width="67" height="67" />
					<h3>{{ docente.nombre }} <strong><a href="http://twitter.com/{{ docente.twitter }}" target="_blank">@{{ docente.twitter}}</a></strong></h3>
				</div>

				{{ docente.perfil|safe }}

			</div>
			{% endfor %}

		</div>

		<div class="quieres">
			<h2>¿Quieres ver cómo son los cursos de Mejorando.la?</h2>

			<div class="video">
				<a href="http://www.youtube.com/embed/x4ZwpiKR7ew" target="_blank" id="video-link">
			    	<img src="{{ STATIC_PREFIX }}cursos/images/video.jpg" alt="¿Quieres ver cómo son los cursos de Mejorando.la?" />

			    	<button></button>
			    </a>
			</div>

			<h3>Nosotros te enseñamos a crear la web</h3>

			<p>Organizamos y participamos en eventos, cursos y talleres de muchas ramas del diseño y desarrollo online.
	En nuestros sitios se han gestado profesionales certificados de Adobe, líderes locales, empresarios, emprendedores, diseñadores premiados y grandes programadores.</p>
	<p>Como los fundadores de las comunidades más importantes de desarrolladores y diseñadores de habla hispana nos juntamos para enseñar y compartir nuestro conocimiento.
	Sabemos de Internet y es nuestra misión enseñar y compartir el conocimiento de la comunidad.</p>
		</div>

		<footer>
			<ul>
				<li><a href="http://maestrosdelweb.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/mdw.gif" alt="maestrosdelweb.com" /></a></li>
				<li><a href="http://cristalab.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/clab.gif" alt="cristalab.com" /></a></li>
			</ul>
		</footer>
	</div></div>

</body>
</html>