{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width = device-width , initial-scale=1 ,maximum-scale=1 " />
	<title>{{ curso.nombre }} Online de Mejorando.la</title>

	<meta name="description" content="{{ curso.nombre }} Online del 4 al 13 de diciembre con @freddier, @cvander, @ajamaica y @siedrix" />

	<meta property="og:title" content="{{ curso.nombre }} Online de Mejorando.la" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{% url cursos.views.curso curso.slug %}" />
	<meta property="og:image" content="http://mejorando.la/cursos_static/images/plantilla-cursos/html5-logo.png" />
	<meta property="og:site_name" content="http://mejorando.la/" />
	<meta property="fb:admins" content="1030603473" />
	<link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico" />
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}cursos/css/index.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script src="https://js.stripe.com/v1/"></script>

	<script>
	var config = { 'moneda': '{{ curso.moneda }}', 'precio': '{{ curso.precio }}', 'nombre': '{{ curso.nombre }}', 'publishable_key': '{{ publishable_key }}'}
	</script>
	<script src="{{ STATIC_PREFIX }}cursos/js/index.js"></script>
</head>
<body>

	<header><div class="wrapper">
		<h1><a href="{% url website.views.home %}"><img src="{{ STATIC_PREFIX }}cursos/images/logo.gif" alt="Mejorando.la" /></a></h1>

		<ul>
			<li><a href="http://maestrosdelweb.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/maestros.gif" alt="maestrosdelweb.com" /></a></li>
			<li><a href="http://cristalab.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/cristalab.gif" alt="cristalab.com" /></a></li>
		</ul>
	</div></header>


	<div class="main">
		<h1>{{ curso.nombre }} <strong>Online</strong></h1>

		<div class="wrapper">
		<div class="top">
			<div class="video">
				<a href="http://www.youtube.com/embed/x4ZwpiKR7ew" target="_blank" id="video-link">
			    	<img src="{{ curso.get_imagen }}" width="666" alt="{{ curso.nombre }}" class="main-image" />
			    	<button></button>
			    </a>
			</div>

			

			<div class="descripcion">				

				<p>{{ curso.descripcion|safe }}</p>

				<button class="registrate" id="registrate">Registrate al curso por <strong>${{ curso.precio }} USD</strong></button>

				<div class="contacto">
					<p class="skype"><a href="skype:mejorandola?call">
						<span>Skype</span>	mejorandola</a></p>

					<p class="telefono"><span>Teléfono</span>3470124</p>					
				</div>

				<div class="horarios">
					<p>Puedes llamarnos de Lunes a Viernes<br />de 9:00a.m. a 6:00p.m.</p>
				</div>
			</div>
		</div>

		<div class="middle">
			<div class="tabs" id="tabs">
				<a class="selector">
					<h2>4, 5 y 6 de diciembre <span>HTML5, CSS3 y Javascript</span></h2>
					<h3>Sesiones en vivo con profesores de 7pm a 9pm</h3>
				</a>

				<div class="tab">
					<ol>
						<li>Bases de maquetación y diseño web</li>
						<li>Introducción a Responsive Design</li>
						<li>Introducción a Retina Design</li>
						<li>Base de la programación web frontend</li>
						<li>Semántica y estructura HTML5</li>
						<li>Diseño y maquetación con CSS3 </li>
						<li>Fuentes y tipografías con font-face</li>
						<li>Video y audio HTML5</li>
						<li>Animaciones de transición y transformación</li>
						<li>jQuery</li>
					</ol>
				</div>


				<a class="selector">
					<h2>11, 12 y 13 de diciembre <span>JS avanzado, Node.js y Python/Django</span></h2>
					<h3>Sesiones en vivo con profesores de 7pm a 9pm</h3>
				</a>

				<div class="tab">
					<ol>
							<li>localStorage, almacenamiento en disco desde JS</li>
							<li>Geolocalización Javascript</li>
							<li>Introducción a Node.js</li>
							<li>Eventos y aplicaciones web real time</li>
							<li>Introducción a Backbone.js</li>
							<li>Web apps con Express.js</li>
							<li>Programación con Python</li>
							<li>Web apps con Django</li>
							<li>Bases de datos y sistemas de admin con Django</li>
							<li>Phonegap</li>
							<li>Control de versiones y Github</li>
						</ol>
				</div>

			</div>
			
			<div class="direccion">
				<a href="http://cursos.mejorando.la" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/plataforma.jpg" /></a>

				<address>
				<h2>{{ curso.pais }}</h2>

				<p>Desde Mejorando.la Plataforma. Sesiones en vivo con profesores de 7pm a 9pm.</p>
				</address>
			</div>
		</div>

		<div class="docentes">
			{% for docente in curso.docentes %}
			<div class="docente docente{{ forloop.counter}}">
				<div class="pic">
					<img src="{{ docente.get_imagen }}" alt="{{ docente.nombre }} @{{ docente.twitter }}" width="67" height="67" />
					<h3>{{ docente.nombre }} <strong><a href="http://twitter.com/{{ docente.twitter }}" target="_blank">@{{ docente.twitter}}</a></strong></h3>
				</div>

				{{ docente.perfil|safe }}

			</div>
			{% endfor %}

		</div>

		<div class="quieres">

			<h3>Nosotros te enseñamos a crear la web</h3>

			<p>¿Videos? Claro, pero también sesiones en vivo, en tiempo real, con los profesores. ¿Foros? Tenemos mucho más: Un nuevo sistema de discusión online donde obtendrás respuesta rápida a todas tus preguntas. Y mucho más: Código y ejemplos copiables desde el navegador. Archivos compartidos al tiempo que recibes clase. Lecturas de apoyo. Conexión directa con otros estudiantes. 

			<p>Ah. Y un examen de certificación con un diploma impreso y lindo en tu casa. Vivas, donde, vivas. Yep. El mejor curso jamás. </p>
		</div>

		<footer>
			<ul>
				<li><a href="http://maestrosdelweb.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/mdw.gif" alt="maestrosdelweb.com" /></a></li>
				<li><a href="http://cristalab.com" target="_blank"><img src="{{ STATIC_PREFIX }}cursos/images/clab.gif" alt="cristalab.com" /></a></li>
			</ul>
		</footer>
	</div></div>

<div class="pago" id="pago">
	<div class="overlay animated"></div>


	<div class="panel animated">
		<h2 id="pago-status">${{ curso.precio }} USD</h2>

		<div class="screens">
		<div class="screen step active">
			<h1><strong>Paso 1 / <span>3</span></strong>Numero de Reservas</h1>
			<div class="pago-count">
				<span class="pago-num">1</span>
				<a class="pago-menos">-</a>
				<a class="pago-mas">+</a>
			</div>
			<div class="pago-btns">
				<button class="close">« Cancelar</button>
				<button class="next">Siguiente »</button>
			</div>
		</div>

		<div class="screen step">
			<h1><strong>Paso 2 / <span>3</span></strong>Datos de Pago</h1>
			<form class="buy-form" method="post" id="buy-form">
				<input type="hidden" name="action" value="buy" />
				<input type="hidden" name="quantity" value="1" />
				<input type="hidden" name="method" value="tarjeta" />
				<input type="hidden" name="stripeToken" />
				
				<input type="text" placeholder="Nombre" class="nombre" name="nombre" />
				<input type="text" placeholder="Email" class="email"   name="email" />
				<input type="text" placeholder="Teléfono" class="tel"  name="telefono" />
				<div class="method-card">
				<input type="text" placeholder="Número de tarjeta" class="card-number numero" />
				<input type="text" size="4" placeholder="CVC" class="card-cvc input-medium" />
				<input type="text" placeholder="MM" class="card-expiry-month input-small" /> / 
				<input type="text" placeholder="YYYY" class="card-expiry-year input-small" />
				</div>

				<label>Usar estos datos para el registro <input type="checkbox" checked  id="samedata" /></label>

				<p class="notice"></p>

				<div class="pago-btns">
					<button type="button" class="cancel">« Volver</button>
					<button type="submit">Comprar »</button>
				</div>
			</form>
		</div>

		<div class="screen step">
			<h1><strong>Paso 3 / <span>3</span></strong>Datos de Registro</h1>
			<form class="reg-form" method="post" id="reg-form">
				<input type="hidden" name="action" value="register" />

				<div class="alumnos">
					<label class="alumno">Alumno 1: <input type="text" placeholder="Email" class="email"   name="email" /></label>
				</div>

				<p class="notice"></p>

				<div class="pago-btns">
					<button type="submit">Registrar</button>
				</div>
			</form>
		</div>
		</div>

		<div class="bottom">
			<div class="contacto">
				<p class="skype"><a href="skype:mejorandola?call">
					<span>Skype</span>	mejorandola</a></p>

				<p class="telefono"><span>Teléfono</span>3470124</p>					
			</div>

			<div class="horarios">
				<p>Puedes llamarnos de Lunes a Viernes<br />de 9:00a.m. a 6:00p.m.</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>