{% extends "website/conferencia/base.html" %}

{% block head %}
<script src="{{ STATIC_PREFIX }}js/jquery.validate.js"></script>
<script src="{{ STATIC_PREFIX }}js/formulario-viaje.js"></script>
<script>
	$(function(){
		$('#f-viaje').validate({
			messages:{
				nombre:'Ingrese su nombre',
				apellidos:'Ingrese sus apellidos',
				email:'Ingrese su email',
				telefono:'Ingrese su telefono',
			}
		})
	})
</script>
{% endblock %}

{% block body %}
	<div id="wrapper">
		<section id="portada">
		<div class="content">
			<div id="cinta">
			</div>
			<header>
				<a id="logo" href="http://mejorando.la/conferencia" title="mejorando.la/conferencia"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/mejorandola-conferencia-logo.png"/></a>
				<h2 class="stream"><strong>25 de agosto</strong>streaming para el mundo</h2>
	            <aside id="social">
	                	<span>Comparte la experiencia</span>
	                	<div class="cont twitter">
	                    	<p><strong>4.5k</strong><span>tweets</span></p>
	                    </div>
	                    <div class="cont facebook">
	                    	<p><strong>5.1k</strong><span>likes</span></p>
	                    </div>
	                    <div class="cont google">
	                    	<p><strong>2.1k</strong><span>+1</span></p>
	                    </div>
	                    <div class="btn_twitter">
	                        <a href="http://twitter.com/share" class="twitter-share-button" data-text="Mejorando.la Conferencia en Centroamérica. 25 de agosto de 2012." data-url="http://mejorando.la/conferencia/" data-count="vertical" data-related="mejorandola:freddier:cvander">Tweet</a>
	                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	                    </div>

	                    <div class="btn_facebook">
	                        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
	                        <script type="text/javascript">_gaq.push(['_trackFacebook']);</script>
	                        <fb:like href="http://mejorando.la/conferencia/" send="false" layout="box_count" width="49" show_faces="false" font=""></fb:like>
	                    </div>
	                    <div class="btn_google">
	                        <g:plusone size="tall" href="http://mejorando.la/conferencia/"></g:plusone>
	                    </div>
                	</aside>
			</header>
			<article id="tema" style="height:auto">
				<nav>
					<ul>
						<li><a href="http://maestrosdelweb.com" target="blank"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/maestrosdelweb.png" alt="cristalab" width="140"/></a>
						<li><a href="http://cristalab.com" target="blank"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/cristalab.png" alt="cristalab" width="140"/></a>
					</ul>
				</nav>
				<div class="wrap">
					<h1>Liderazgo &amp; <br/>  emprendimiento tecnológico</h1>
					<p>Descubre comunidades y empresarios hispanoamericanos que han logrado el éxito con proyectos relevantes a nivel internacional. </p>

	                <p>Participa del evento a través de nuestro Streaming en vivo. Se impartirán <strong>12 conferencias</strong> desde Centroamérica sobre el futuro del emprendimiento y liderazgo tecnológico. 

	                <!--p>Quedas invitado a la Ciudad de Guatemala para compartir con los conferencistas del evento en el Auditorio Juan Bautista Gutiérrez en la Universidad Francisco Marroquín.</p-->
	         
	            </div>

	            </div>        
			</article>
		</section>			
		</div>
		<section id="sponsors-ghost" style="background:none">
		</section>
		<section id="sponsors">
			<div class="content">
				<div class="col oro">
					 <a href="http://www.ufm.edu"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/ufm.png" height="56" width="113" alt="Universidad Francisco Marroquín"/></a>					
					<a href="http://mediastream.cl"><img src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/sponsors/mediastream.png" height="56" width="231" alt="mediastream" id="Mediastream"/></a>			
				</div>
			
			</div>
		</section>
		<section id="sede">
			<div class="content avion">
				<div class="bus">
					<h3>El Avion Alegre desde Costa Rica</h3>
					<p>Salida el Jueves 23 de Agosto del 2012, a las 10:32am desde San José (llegando a Guatemala a las 12:12pm)<br/>Taller de HTML5 el viernes 24 y Conferencias el Sábado 25. </p>
					<div class="fila">
						<p>Hospedaje en el Hotel Biltmore (zona 10) de Guatemala.</p> <img id="hotel1" src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/hotel1.jpg" alt="Hotel Biltmore "/>
					</div>
					<div class="fila">
						<img id="hotel2" src="{{ STATIC_PREFIX }}/images/conferencia/guatemala/hotel2.jpg" alt="hotel Maximo"/><p>Regreso el Domingo 26 de Agosto del 2012, a las 4:05pm desde Guatemala (llegando a Costa Rica a las 5:40pm)</p>
					</div>
				</div>
			</div>
		</section>
		<section id="viaje">
			<div class="content">
				<div class="mensaje" style="width:50%">
					<h3>Precios e Inscripción</h3>
					<h4>$600 USD por persona mediante transferencia bancaria o pago en efectivo. (En habitación doble)
$710 USD por persona mediante transferencia bancaria o pago en efectivo. (En habitación sencilla)<h4>
					<p>*A partir del 5 de Julio, TODOS los cursos, eventos y conferencias de mejorando.la serán gratuitos para mujeres. Dicho descuento debe ser aplicado a la tarifa anterior. <strong>El proceso de registro no estará completo sin el pago del costo total del paquete.</strong></p>
					<h5 class="sub-tit">¿Qué incluye?</h5>
					<p>Tiquete aéreo SJO-GUA-SJO<br />
						Estadía 4 días, 3 noches en Ciudad de Guatemala<br />
						Desayunos<br />
						Impuestos<br />
						Traslados Aeropuerto - Hotel - Aeropuerto<br />
						Traslados Hotel - Conferencias - Hotel<br />
						Entrada a las 12 conferencias
					</p>
					<h5 class="sub-tit">¿Qué no incluye?</h5>
					<p>$28 Impuestos de salida de Costa Rica<br />
					Comidas no mencionadas<br />
					Tours</p>
					<h5 class="sub-tit">Consultas</h5>
					<p>nrbkstudio@gmail.com<br />
					8854-7204 / 8322-4080<br />
					<a href="http://twitter.com/NRBKStudio" style="color:lightSkyBlue">@NRBKStudio</a></p>
				</div>
				<form action="{% url website.views.conferencia_registro %}" id="f-viaje" style="width:50%" method="POST">
					<label id="inscri"></label>
					<label id="confirmacion"></label>

					<input type="hidden" name="extended" value="viaje" />
					<input type="hidden" name="asunto" value="Inscripción a la Conferencia desde Costa Rica" />

					<input type="text" name="nombre" placeholder="Nombre" class="input" required/>
					<input type="text" name="apellidos" placeholder="Apellidos" class="input" required/>
					<input type="email" name="email" placeholder="Correo electrónico" class="input" required/>
					<div class="sexo">
						<label class="label">sexo</label>
						<input type="radio" name="sexo" value="hombre" class="tipo" checked/><span>hombre</span>
						<input type="radio" name="sexo" value="mujer" class="tipo"/><span>mujer</span>
					</div>
					<select name="tipo" class="input">
						<option>Tipo de habitación</option>
						<option value="simple">Simple</option>
						<option value="doble">Doble</opcion>
					</select>
					<input type="text" name="telefono" required placeholder="Telefono" class="input" />
					<input type="text" name="twitter" placeholder="cuenta de twitter" class="input" />
					<label>Comentario</label>
					<textarea class="coment input" name="comentario">
					</textarea>
					<input class="submit" type="submit" value="participa"  />
				</form>
			</div>
		</section>
		
{% endblock %}