{% extends "edmin/base.html" %}

{% block body %}
<div id="content">
<form method="post" action="{% if curso %}{% url edmin.views.curso_edit curso.id %}{% else %}{% url edmin.views.curso_add %}{% endif %}" id="{% if curso %}edit{% else %}add{% endif %}_curso_form">
	<div class="capa"></div>

	<input type="hidden" name="imagen" />
	<input type="hidden" name="imagen_filename" />

	<h2><a href="{% url edmin.views.curso %}" class="back"></a>{% if curso %}Editar{% else %}Agregar{% endif %} Curso</h2>

	<p><input type="text" placeholder="Nombre del curso" value="{{ curso.nombre }}" name="nombre" class="required" /> mejorando.la/<input type="text" placeholder="slug-del-curso" class="input-small required" value="{{ curso.slug }}" name="slug" /> $<input type="text" placeholder="0.00" class="input-small-pre required" value="{{ curso.precio }}" name="precio" /></p>

	<p><input type="text" placeholder="Dirección" class="input-large required" value="{{ curso.direccion}}" name="direccion" /><input type="text" placeholder="Pais" class="input-small required" value="{{ curso.pais }}" name="pais" /><input type="text" placeholder="Coord. ej. 3.32,-5.246" class="input-small required" value="{{ curso.mapa }}" name="mapa" /></p>

	<p class="row"><textarea placeholder="Descripción" class="input-large required" name="descripcion">{{ curso.descripcion|safe }}</textarea><span class="drop drop-curso"><img src="{{ curso.get_imagen }}" width="356" /><strong>Arrastra la imagen del curso</strong></span></p>

	{% if curso %}
	<fieldset>
		<h3 class="docentes">Docentes</h3>
		<a href="{% url edmin.views.docente_add curso.id %}" class="add-docente add-medium"></a>

		<div class="docentes">
		{% for docente in curso.docentes %}
		<div class="docente" data-id="{{ docente.id }}">
			<img src="{{ docente.get_imagen }}" class="docente-imagen" alt="{{ docente.nombre }}" height="34" />
			<h4 class="docente-twitter">@{{ docente.twitter}}</h4>

			<p class="actions">
				<a href="{% url edmin.views.docente_edit docente.id %}" class="edit-docente edit-medium"></a>
				<a href="{% url edmin.views.docente_delete docente.id %}" class="del-docente del-medium"></a>
			</p>
		</div>
		{% endfor %}
		</div>

		
	</fieldset>

	<fieldset>
		<h3 class="calendario">Calendario</h3>
		<a href="{% url edmin.views.dia_add curso.id %}" class="add-dia add-medium"></a>

		<div class="dias">
		{% for dia in curso.dias %}
		<div class="dia" data-id="{{ dia.id }}">
			<h4>Día {{ forloop.counter }} {{ dia.fecha|date:"l · d F "}}</h4>
			<p class="bottom">
				<strong>{{ dia.tema}}</strong>
				<span class="actions">
					<a href="{% url edmin.views.dia_edit dia.id %}" class="edit-dia edit-medium"></a>
					<a href="{% url edmin.views.dia_delete dia.id %}" class="del-dia del-medium"></a>
				</span>
			</p>
		</div>
		{% endfor %}
		</div>

		
	</fieldset>
	{% endif %}

	<fieldset>
		<h3 class="email">Email</h3>
		<p><textarea placeholder="Contenido del mail de deposito" class="input-large required" name="info_pago">{{ curso.info_pago|safe }}</textarea></p>
	</fieldset>

	<button type="submit">Guardar</button>

	<p class="notif"></p>
</form>

<div class="popup popup2">
	<div class="overlay animated"></div>
	<div class="panel animated"></div>
</div>
</div>
{% endblock %}