/*
Theme Name: Mejorando.la
Theme URI: http://mejorando.la
Description: El mejor tema que mejorando.la ha tenido
Version: 1.0
Author: Mejorando.la Team: @freddier, @dual3nigma, @LeonidasEsteban, @sp3ncer
*/
@import "classes.styl"


@font-face
  font-family: 'open sans';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-light-webfont.woff") format('woff'), url("../fonts/opensans-light-webfont.ttf") format('truetype'), url("../fonts/opensans-light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'open sans';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans-bold-webfont.woff") format('woff'), url("../fonts/opensans-bold-webfont.ttf") format('truetype'), url("../fonts/opensans-bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: bold;
  font-style: normal;



*
	margin 0

::selection
	
	text-shadow 0 0 20px #017ecd, 1px 1px 1px gray
a
	color white
	text-decoration none
a:hover 
	text-decoration underline
p
	margin 0
h1 
	position absolute
	z-index 10
h2,h5
	font-weight normal
body
	background #3C4043 
	color white
	font-family: 'open sans', Arial,Sans-serif
	font-size 16px

header
	background #323e4a
	margin 0 auto
	max-width 1000px 
	position relative
	z-index 3

	h1 a img 
		position relative 
		z-index 20
		height auto 
	#maestros
		left 226px
		position absolute
		top 3px
		img 
			width 35px 
			height 35px 
	#cristalab
		left 283px
		position absolute
		top 3px
		img 
			width 35px 
			height 35px
	.mejor
		background url("../images/logos/linea.jpg") repeat-x left top 
		height 42px
		position relative
		text-align left
		width 300px
		z-index 7
.subtitulo
	color #3d4043
	font-size 45px
	font-weight bold
	letter-spacing -1px
	text-transform uppercase

img
	border none


strong
	font-weight bold


#anteriores
	background white
	font-size 0
	margin-top 35px
	min-width 100%
	overflow hidden
	position relative
	text-align center
	text-align center
	text-transform uppercase
	.todos
		background  url("../images/home/playall_largo.png") no-repeat left top
		color #3f4044
		height 33px
		line-height 33px
		padding 0 20px 0 30px
		position absolute
		right 0

		a
			color #3f4044
			font-size 14px
			font-weight bold
	h3.tit 
		font-size 33px
		font-weight normal
		letter-spacing 15px
		margin 20px 0 15px 0
		text-transform uppercase


	.capitulo
		float left
		padding-bottom 5px
		position relative
		vertical-align top
		width 25%


		a 
			display block	
		p
			background rgba(0,0,0,.5)
			display inline
		h2
			background rgba(0,0,0,.5)
			display inline
		.block
			display block
			margin-top 5px
		.cap
			font-size 14px
			font-weight bold
			margin-bottom 12px
		.imagen
			height 167px
			img
				width 230px
				height auto
				box-shadow -5px 5px 0 #c8cacd
		&:hover
			.imagen 
				img 
					box-shadow -5px 5px 0 #3d4043
					transition .2s box-shadow
			
		.texto
			line-height 20px
			padding 15px 15px 0 15px
			position absolute
			text-align left
			text-transform none
			top 0
			word-break break-word
			z-index 2
			&:first-letter
				text-transform uppercase

	.tit
		font-size 23px
#footer 
	background #3C4043
	border-bottom 30px solid white
	text-align center
	color #555A5E
	margin-top 50px
	a 
		color #555A5E
	.centro 
		background white
		max-width 470px 
		margin 0 auto
		padding 10px 0
		span
			margin 0 50px
		a,span
			font-size 25px
			font-weight bold
		h4 
			text-transform uppercase
			font-weight normal
			letter-spacing 5px
			font-size 12px



#wrapper
	background white
	margin 0 auto
	max-width 1000px
	position relative	

.menu
	background #323e4a
	font-family Arial
	margin 0 auto
	position absolute
	top 0
	width 100%
	z-index 6
	ul 
		font-size 0
		padding 0
		text-align right
		
		li 
			display inline-block
			font-size 14px
			font-weight bold
			position relative
			text-align center
			text-transform uppercase 
			transition .2s background
			vertical-align top
			z-index 5
			&:hover 
				background #1c2127

		a
			color #898c93
			display block 
			float right
			height 42px
			line-height 42px
			padding 0 10px 
			text-align center



//banners
a.banner-link
	background url('../images/home/banners/banner_home_lima.jpg') no-repeat left top
	height 64px 
	padding 0 
	position absolute
	right 0
	top 42px
	width 736px
	color white
	font-size 20px
	line-height 20px
	text-transform uppercase
	text-align left
	font-family Arial
	> div 
		display inline-block
		vertical-align top
	.titulo
		width 290px
		margin-top 13px
		margin-left 60px
		text-align left
	.fecha 
		
		position relative
		left 70px
		font-size 30px
		width 229px
		color #313f4a
		.dia 
			float left
			font-size 37px
			letter-spacing -2px
			margin-right 3px
			margin-top 24px
		.col2 
			float left
			vertical-align top
			margin-top 18px
			margin-left 3px
		.mess 
			display block
			font-size 12px
	
		.lugar 
			display block
			font-size 14px
			text-align left
			font-weight bold
			position relative
			top -7px
			
	.img-tec
		margin 9px 0 0 31px
	&:hover 
		text-decoration none


@-webkit-keyframes envivo
	to{-webkit-transform:translateX(0)}
	from{-webkit-transform:translateX(-1000px)}

@-moz-keyframes envivo
	to{-moz-transform:translateX(0)}
	from{-moz-transform:translateX(-1000px)}

#envivo .patron
	-webkit-animation 25s envivo infinite linear
	-moz-animation 25s envivo infinite linear
	background url("../images/patron.jpg") repeat-x
	width 2000px
	height 60px
	position relative
	z-index 1

#envivo .vivo
	position absolute
	right 0
	top 0
	display block
	z-index 2

@media screen and (max-width:1000px)
	
	#wrapper
		width auto

@media screen and (max-width:800px)

	header
		height 87px
		h1 
			a 
				img 
					height 42px
					width auto
		
		.mejor 
			width auto
	

	
	.menu 
		top 42px

		ul 
			min-width 320px
			padding-top 0
			text-align center
			li 
				box-sizing border-box
				width auto
				&:nth-child(even)
					background none 
					border-left 1px solid white 
					border-right 1px solid white
				a 
					height 44px 
					line-height 44px


@media screen and (max-width:480px)
	.menu 
		ul  li a 
			padding 0 5px	
			font-size 12px

.plat-ad
	background url(../images/ad-left.gif) left bottom no-repeat, url(../images/ad-right.gif) right bottom no-repeat, white url(../images/plat-ad.jpg) 439px 3px no-repeat
	height 68px
	background-clip border-box, border-box, content-box
	padding-bottom 10px
	display block
	position absolute
	z-index 9
	top 60px
	left -10px
	right -10px
	overflow hidden
	color #36434b

	.plat-ad-title
		text-transform uppercase
		float left	
		font-size 22px
		width 500px
		margin-top 14px
		margin-left 21px
		line-height 20px

.curso-ad
	background url(../images/ad-left.gif) left bottom no-repeat, url(../images/ad-right.gif) right bottom no-repeat, white url(../images/online-ad.jpg) center 5px no-repeat
	height 68px
	background-clip border-box, border-box, content-box
	padding-bottom 10px
	display block
	position absolute
	z-index 9
	top 60px
	left -10px
	right -10px
	overflow hidden

	&:hover
		text-decoration none

	span 
		display block
		color #36434b
		margin-top 5px


		&.ad-title
			text-transform uppercase
			float left	
			font-size 20px
			width 300px
			margin-left 21px
			line-height 20px


			small
				font-size 12px
				display block
				font-weight bold

		&.ad-teachers
			float right
			font-size 14px
			line-height 15px
			font-weight bold
			margin-top 19px
			margin-right 40px


@media screen and (max-width:1000px)
	.curso-ad
		position static
		background white url(../images/online-ad.jpg) center 5px no-repeat
		height 58px

	.plat-ad
		position static
		background white 
		text-align center

		.plat-ad-title
			width auto

@media screen and (max-width:960px)
	.curso-ad
		background-position center center
		text-align center
		height auto

		span.ad-title 
			float none
			width auto
			margin 5px 0 70px

		span.ad-teachers
			float none
			margin 70px 5px 0 5px


@media screen and (max-width:465px)
	.curso-ad
		background-size 100%
		
		span.ad-title
			font-size 15px
			line-height 16px

		span.ad-teachers
			font-size 12px
			line-height 13px
		