{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Cursos | Mejorando.la</title>

	<link rel="stylesheet" href="{{ STATIC_PREFIX }}nuevo/admin/css/admin.css" />
</head>
<body>

	<header>
		<h1><a href="#"><img src="{{ STATIC_PREFIX }}nuevo/admin/images/logo.gif" alt="Mejorando.la" /></a></h1>
		<nav>
			<a href="{% url nuevo.views.admin_add %}">+</a>
		</nav>
	</header>


	<div class="main">
		<h2>Cursos</h2>


		{% if cursos|length > 0 %}
		<div class="secciones">
			{% for curso in cursos %}
			<a href="{% url nuevo.views.admin_edit curso.slug %}"><span>{{ curso.nombre }}</span></a>
			{% endfor %}
		</div>
		{% else %}
		<p>Aún no hay ningún curso</p>
		{% endif%}
	</div>

</body>
</html>