{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% if curso %}Editar Curso{% else %}Agregar Curso{% endif %} | Mejorando.la</title>

	<link rel="stylesheet" href="{{ STATIC_PREFIX }}nuevo/admin/css/admin_add.css" />
</head>
<body>

	<form method="POST" enctype="multipart/form-data">
	<header>
		<h1><a href="#"><img src="{{ STATIC_PREFIX }}nuevo/admin/images/logo.gif" alt="Mejorando.la" /></a></h1>
		<nav>
			<a href="{% url nuevo.views.admin %}">Cancelar</a>
			<button type="submit">Guardar</button>
		</nav>
	</header>


	<div class="main">

		<h2>{% if curso %}Editar Curso{% else %}Agregar Curso{% endif %}</h2>

		<p><input type="text" name="titulo" placeholder="Titulo del curso" class="input-titulo" value="{{ curso.nombre }}" /> <input type="text" placeholder="PAIS" class="input-pais" name="pais" value="{{ curso.pais }}" /> <input type="text" value="{{ curso.precio }}" placeholder="$" class="input-precio" name="precio" /> USD</p>
		<p>mejorando.la/cursos/ <input type="text" name="slug" placeholder="url-del-curso" value="{{ curso.slug }}" /></p>
		<p><textarea name="descripcion" placeholder="Descripcion">{{ curso.descripcion }}</textarea> </p>
		<p><input type="text" name="direccion" placeholder="Direccion" value="{{ curso.direccion }}" /> Imagen: <input type="file" name="imagen" /></p>

		<div class="secciones">
			<a href="#"><span>Programa</span></a>
			<p>No hay días asignados a este curso</p>
			<a href="#"><span>Docentes</span></a>
			<p>No hay docentes asignados a este curso</p>
			<a href="#"><span>Email</span></a>
			<p><textarea name="info_pago" placeholder="Información para pago con deposito"></textarea></p>
		</div>
	</div>
	</form>
</body>
</html>