{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Curso de HTML5 en Madrid de mejorando.la</title>
	<meta name="description" content="Curso de HTML5 y CSS3 los días 26 y 27 de Octubre en Madrid, España con @freddier y @cvander">
	<meta property="og:title" content="Curso de HTML5 en Madrid">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://mejorando.la/cursos/html5-madrid/">
	<meta property="og:image" content="http://mejorando.la/cursos/images/plantilla-cursos/html5-logo.png">
	<meta property="og:site_name" content="http://mejorando.la/">
	<meta property="fb:admins" content="1030603473">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}nuevo/css/site.css">

	<script src="{{ STATIC_PREFIX }}nuevo/js/modernizr.custom.53065.js"></script>
	<script>
		var payment_config = {
			name: 'Curso de HTML5 en Madrid',
			code: '20120901.Madrid.Html5',
			cancel_url: 'http://mejorando.la/cursos/html5-madrid/',
			redirect_url: 'http://mejorando.la/cursos/html5-madrid/?felicidades',
			online: {
				price: {{ curso.precio }},
				currency: 'EUR',
				sign: '€'
			},
			bank: {
				price: {{ curso.precio }},
				currency: 'EUR',
				sign: '€'
			}
		};
	</script>
</head>
<body>
<div id="overflow">
	<section id="wrap">
		<header id="header">
			<ul id="header-logos">
				<li id="header-mejorandola"><a href="http://mejorando.la/" target="_blank" rel="nofollow"><span>Mejorando.la</span></a></li>
				<li id="header-mdw"><a href="http://maestrosdelweb.com" target="_blank" rel="nofollow"><span>Maestros del Web</span></a></li>
				<li id="header-clab"><a href="http://cristalab.com" target="_blank" rel="nofollow"><span>Cristalab</span></a></li>
			</ul>

			<nav id="nav">
				<ul class="clearfix">
					<li><a href="http://mejorando.la/cursos/">Cursos</a></li>
					<li><a href="http://mejorando.la/cursos/exalumnos/">Ex alumnos</a></li>
					<li><a href="http://mejorando.la/conferencias/">Conferencias</a></li>
					<li><a href="http://mejorando.la/videos/">Videos</a></li>
				</ul>
			</nav>
		</header>

		<hr>

		<h1 id="title">{{ curso.nombre }}</h1>

		<section id="course-info">
			<div class="video_header">
				<a href="http://www.youtu.be/x4ZwpiKR7ew" target="_blank">
					<img src="{{ curso.get_imagen }}" alt="{{ curso.nombre }}" class="imagen_curso">
					<span class="bg"></span>
				</a>
			</div>

			<div class="content">
				<p class="descripcion">{{ curso.descripcion|safe }}</p>
				<p class="buttons"><a class="button" href="#registrate" id="register-link">Registrate al curso por <strong></strong></a></p>
					<div class="register-skype clearfix">
						<p class="skype-message">Has tus consultas de Lunes - Viernes <br>10:00 a.m. - 6:00 p.m <em>mejorandola</em>"</p>
					</div>
					<div class="contacto">

						<p class="skype-buttons"><a class="skype-button" href="skype:mejorandola?call"><span class="tit">Skype</span>	mejorandola</a></p>
						<p class="telefono"><span class="tit">Telefono</span> 	+511-7204134 </p>
					
					</div>		
			</div>
		</section>

		<hr>

		<div id="syllabus-location">
			<section id="syllabus">
				<h2 class="hidden">Temario</h2>
				{% for dia in curso.dias %}
				<section id="day-{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}>
					<div class="tab">
						<h3>{{ dia.fecha|date:"d F" }}</h3>
						<p class="tema">{{ dia.tema }}</p>
						<p class="dia">{{ dia.fecha|date:"l / f a" }}</p>
						<!-- <p>{{ dia.fecha|date:"f a" }}</p> -->
					</div>
					<div class="content">
						{{ dia.temario|safe }}
					</div>
				</section>
				{% endfor %}
				<span class="bg"></span>
			</section>

			<hr>

			<section id="location">
				{% if not curso.is_online %}
				<a class="img" href="{{ curso.get_map_link }}" target="_blank"><img src="{{ curso.get_map_image }}" /></a>
				{% endif %}
				<div class="datos">
					<h2 class="hidden">Dirección</h2>
					<p class="country {{ curso.pais|slugify }}"><strong>{{ curso.pais }}</strong></p>
					<p>{{ curso.direccion }}</p>
				</div>
			</section>
		</div>

		<hr>

		<section id="speakers">
			<h2 class="hidden">Profesores</h2>
			<div class="wrap">
				{% for docente in curso.docentes %}
				<section id="speaker-{{ forloop.counter }}" class="speaker">
					<div class="header">
						<h3><a href="http://twitter.com/{{ docente.twitter}}" target="_blank" rel="nofollow">{{ docente.nombre }} <strong>@{{ docente.twitter}}</strong></a></h3>
						<a href="http://twitter.com/{{ docente.twitter}}" target="_blank" rel="nofollow"><img src="{{ docente.get_imagen }}" alt="{{ docente.nombre }}"></a>
					</div>
					<div class="content">
						<p>{{ docente.perfil|safe }}</p>
					</div>
				</section>
				{% endfor %}
			</div>
		</section>

		<hr>

		<section id="video">
			<h2>¿Quieres ver cómo son los cursos de Mejorando.la?</h2>
			<div class="video">
				<span class="bg"></span>
				<div class="container">
					<a href="http://www.youtu.be/x4ZwpiKR7ew" target="_blank">
						<img src="{{ STATIC_PREFIX }}nuevo/images/video.jpg" alt="¿Quieres ver cómo son los cursos de Mejorando.la?" />
						<span class="bg"></span>
					</a>
				</div>
			</div>
		</section>

		<hr>

		<section id="afterword">
			<h2>Nosotros te enseñamos a crear la web</h2>
			<p>Organizamos y participamos en eventos, cursos y talleres de muchas ramas del diseño y desarrollo online. En nuestros sitios se han gestado profesionales certificados de Adobe, líderes locales, empresarios, emprendedores, diseñadores premiados y grandes programadores.</p>
			<p>Como los fundadores de las comunidades más importantes de desarrolladores y diseñadores de habla hispana nos juntamos para enseñar y compartir nuestro conocimiento. Sabemos de Internet y es nuestra misión enseñar y compartir el conocimiento de la comunidad.</p>
		</section>

		<section id="footer-logos">
			<ul>
				<li id="footer-mdw"><a href="http://maestrosdelweb.com" target="_blank" rel="nofollow">Maestros del Web</a></li>
				<li id="footer-clab"><a href="http://cristalab.com" target="_blank" rel="nofollow">Cristalab</a></li>
			</ul>
		</section>
	</section>

	<div id="overlay"></div>

	<section id="register">
		<a id="close" href="#" title="Cerrar">Cerrar</a>
		<h2 class="hidden">Registrate</h2>
		<p class="cart">
			<a class="change-method back" href="#step-1" title="Cambiar modo de pago"><span class="hidden">Cambiar modo de pago</span></a>
			<span class="hidden">Total</span>
			<strong></strong>
			<span class="discount"><br> Con un descuento de <em></em></span>
		</p>

		<section id="step-1" class="step-container step-active">
			<p class="step"><strong>Paso 1 /</strong> 3</p>
			<p class="caption">Modo de pago</p>
			<ul>
				<li id="option-card">
					<div class="bg"></div>
					<input type="radio" id="input-online" name="payment-method" value="online"><br>
					<strong class="price"></strong>
					<br>
					<label for="input-credit">Tarjeta de Credito</label>
				</li>
				<li id="option-bank">
					<div class="bg"></div>
					<input type="radio" id="input-bank" name="payment-method" value="bank"><br>
					<strong class="price"></strong>
					<br>
					<label for="input-bank">Deposito Bancario</label>
				</li>
			</ul>
		</section>

		<section id="step-2" class="step-container">
			<p class="step"><strong>Paso 2 /</strong> 3</p>
			<p class="caption">Número de reservas</p>
			<p>
				<!-- <input type="number" id="input-quantity" name="reservations-quantity" value="1"> -->
				<span class="quantity">1</span>
				<span class="input-step-container clearfix">
					<a href="#" class="input-step dec"><span>-</span></a>
					<a href="#" class="input-step inc"><span>+</span></a>
				</span>
			</p>
			<p class="back-next">
				<a href="#step-1" class="back" title="Modo de pago">&laquo; Volver<span class="bg"></span></a>
				<a href="#step-3" class="next" title="Datos de pago">Siguiente &raquo;<span class="bg"></span></a>
			</p>
		</section>

		<section id="step-3" class="step-container">
			<p class="step"><strong>Paso 3 /</strong> 3</p>
			<p class="caption">Datos de Pago</p>

			<form id="payment-data" method="post">
				<p>
					<input type="text" name="nombre" class="name" required placeholder="Nombre" data-message="Ingrese su nombre">
				</p>

				<p>
					<input type="email" name="email" class="email" required placeholder="Correo Electrónico" data-message="Ingrese su correo electrónico">
				</p>

				<p>
					<input type="text" name="telefono" class="phone" required placeholder="Teléfono" data-message="Ingrese su teléfono">
				</p>

				<p class="back-next online-buttons">
					<a href="#step-2" class="back" title="Modo de pago">&laquo; Volver<span class="bg"></span></a>
					<button type="submit" class="next" title="Regístrate con PayPal">Regístrate con <span class="paypal"><span class="hidden">PayPal &raquo;</span></span><span class="bg"></span></button>
				</p>

				<p class="back-next bank-buttons">
					<a href="#step-2" class="back" title="Modo de pago">&laquo; Volver<span class="bg"></span></a>
					<button type="submit" class="next" title="Regístrate">Regístrate &raquo;<span class="bg"></span></button>
				</p>
			</form>


			<!-- https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_html_Appx_websitestandard_htmlvariables -->
			<form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="charset" value="utf-8">
				<input type="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="rm" value="2"> <!-- send data back via POST -->
				<input type="hidden" name="cancel_return" value="http://mejorando.la/cursos/">
				<input type="hidden" name="notify_url" value="http://mejorando.la/cursos/pago/success">
				<input type="hidden" name="return" value="http://mejorando.la/cursos/pago/success">
				<input type="hidden" name="business" value="cursos@mejorando.la">
				<input type="hidden" name="lc" value="ES">
				<input type="hidden" name="no_shipping" value="1">
				<input type="hidden" name="no_note" value="1">
				<input type="hidden" name="cpp_logo_image" value="https://mejorando.la/images/logo_for_paypal.png">

				<input type="hidden" name="currency_code"> <!-- USD EUR MXN -->
				<input type="hidden" name="quantity" value="1">
				<input type="hidden" name="discount_amount">
				<input type="hidden" name="amount" value="290">
				
				<!-- passthrough items -->
				<input type="hidden" name="item_name">
				<input type="hidden" name="item_number">
				<input type="hidden" name="curso">
				<input type="hidden" name="code">
				<input type="hidden" name="personas" value="1">
				<input type="hidden" name="total">
				<input type="hidden" name="descuento">
				<input type="hidden" name="currency">

				<input type="hidden" name="nombre">
				<input type="hidden" name="email">
				<input type="hidden" name="telefono">
				<input type="hidden" name="tipo">
			</form>
		</section>

		<!-- <section id="step-3b" class="step-container">
			<p class="step"><strong>Paso 3 /</strong> 3</p>
			<p class="caption">Datos de Pago</p>
			<form id="paypal-data" method="post">
				<input type="hidden" name="tipo" value="deposito">
				<p>
					<input type="text" name="nombre" class="name" required placeholder="Nombre">
				</p>

				<p>
					<input type="text" name="email" class="email" required placeholder="Correo Electrónico">
				</p>

				<p>
					<input type="text" name="telefono" class="phone" required placeholder="Teléfono">
				</p>

				<p class="back-next">
					<a href="#step-2" class="back" title="Modo de pago">&laquo; Volver<span class="bg"></span></a>
					<button type="submit" class="next" title="Regístrate">Regístrate &raquo;<span class="bg"></span></button>
				</p>
			</form>
		</section> -->

		<section id="step-4" class="step-container">
			<!-- <p class="step"><strong>Haz sido registrado</strong></p> -->
			<p class="caption">Haz sido registrado en nuestro curso</p>
			<div class="online-confirmation">
				<p>Pronto estaremos enviándote un email confirmando tu registro.</p>
			</div>
			<div class="bank-confirmation">
				<p>Pronto estaremos enviándote un email con los datos de nuestra cuenta bancaria.</p>
				<!-- <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script> -->
			</div>
		</section>

		<div class="register-skype">
			<p class="skype-message">Has tus consultas de Lunes - Viernes 
10:00 a.m. - 6:00 p.m "mejorandola"</p>
			<p class="skype-buttons nomargin"><a class="skype-button" href="skype:mejorandola?call">Llama a <em>mejorandola</em></a></p>
		</div>
	</section>

	<script src="{{ STATIC_PREFIX }}nuevo/js/jquery-1.8.2.min.js"></script>
	<script src="{{ STATIC_PREFIX }}nuevo/js/jquery.tools.min.js"></script>
	<script src="{{ STATIC_PREFIX }}nuevo/js/site.js"></script>

	<script type="text/javascript"> 
		var analyticsFileTypes = [''];
		var analyticsEventTracking = 'enabled';
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-76863-8']);
		_gaq.push(['_trackPageview']);
	 
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</div>
</body>
</html>
