*{margin:0;padding:0}
body{font-family:'Open Sans',sans-serif;color:#747679;font-size:16px;background:#3c4043}
#wrapper{background:#fff url("../images/podcast/header_bg.gif") left 42px no-repeat}
#page{background:url("../images/podcast/page_bg.gif") 825px 110px no-repeat;padding:0 50px;padding-top:70px;}
#page h1,#page h2,#page h3,#page h4,#page h5{font-weight:normal}
#page h1{font-size:72px;text-transform:uppercase;margin:25px 0}
#page h2{font-size:24px;text-transform:uppercase}
a.suscribe-btn{text-decoration:none;color:#747679;display:inline-block;width:100px;line-height:18px;padding-left:50px}
a.suscribe-btn.itunes{background:url("../images/podcast/itunes.gif") left top no-repeat}
a.suscribe-btn.rss{background:url("../images/podcast/rss.gif") left top no-repeat}
a.suscribe-btn:hover{background-position:left bottom}
a{color:#a7a8ac}
a:hover{color:#3a3c3f}
.podcast-list{margin-top:50px}
time{font-size:12px}
p{margin:25px 0}
.podcast-item{background:url("../images/podcast/podcast_bg.gif") left bottom repeat-x;padding-bottom:30px}
.podcast-item p{max-width:620px}
.podcast-btn{color:#fff;background:#86ba40;text-decoration:none;padding:5px 20px;display:inline-block;-webkit-transition:background-color .4s;-moz-transition:background-color .4s;-o-transition:background-color .4s;-ms-transition:background-color .4s;transition:background-color .4s}
.podcast-btn:hover{color:#fff;background:#6ea226}
.podcast-btns{text-align:right}
.play{background:#86ba40;font-weight:normal;cursor:pointer;width:120px;padding:5px 10px;border:none;color:#fff;font-size:16px;height:29px;box-sizing:border-box;transition:.3s;}
.play:before{margin-right:10px}
.play:hover{background:#6ea226;color:#fff;text-decoration:none}
@media screen and (max-width:1000px){.curso-ad:after{display:none}
.curso-ad{margin-top:10px}
.podcast-item{padding:20px}
#page{padding:0 20px;background-image:none}
}.curso-ad{top:48px;}
.curso-ad:after{content:" ";display:block;position:absolute;background:#a2a6a5;height:1px;left:10px;right:10px;bottom:9px}
