.tweets{background:#0186c7;padding:20px;padding-bottom:80px;padding-top:40px;position:relative;text-align:center;font-family:'open sans',arial,sans-serif !important;}
.tweets .content{position:relative}
.tweets .mastweets{border-bottom:3px solid #bf932b}
.tweets .vermastweets{display:none}
.tweets h3{text-align:center;font-weight:bold;color:#fff;font-size:20px;margin-bottom:10px}
.tweets:before{border-bottom:30px solid transparent;border-left:40px solid #fff;content:"";left:0;position:absolute;top:0}
.tweets:after{content:"";position:absolute;bottom:0;right:0;border-right:40px solid #fff;border-top:30px solid transparent}
.tweets .twitter-tweet-rendered{display:inline-block !important;max-width:450px !important;vertical-align:top;}
.tweets .twitter-tweet-rendered:nth-of-type(odd){margin-right:15px !important}
.tweets .twitter-tweet-rendered .twt-border{height:170px !important}
.tweets .twitter-tweet-rendered .twt-media.e-content .twt-media-link img{display:none !important}
.tweets .cards-base.cards-multimedia img{display:none !important}
.tweets .twt-tweet .e-content .p-name,.tweets .twt-o .e-content .p-name a,.tweets .twt-o .e-content .p-name b{font-family:'open sans',arial,sans-serif !important}
@media screen and (max-width:1000px){.tweets .twitter-tweet-rendered{max-width:none !important;display:block !important;}
.tweets .twitter-tweet-rendered:nth-of-type(odd){position:relative;top:0;margin-right:0 !important}
.tweets .twitter-tweet-rendered .twt-border{max-width:none !important}
}