{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="es_ES">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Mejorando.la | un show en vivo de gente que crea Internet, todos los jueves a las 4pm GMT-5{% endblock %}</title>   
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}images/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{% url feed %}" />
    <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" />
    <meta property="fb:page_id" content="198868566791554" />
    <meta property="og:title" content="Mejorando.la" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% url website.views.home %}"/>
    <meta property="og:image" content="https://mejorando.la/images/isotipo.png" />
    <meta property="og:site_name" content="mejorando.la" />
    <meta property="fb:admins" content="1030603473" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>

    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.scountdown.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/index.js?f=27032012"></script>
    <script src="{{ STATIC_PREFIX }}js/css_browser_selector.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.lazyload.min.js"></script>

    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if (gte IE 6)&(lte IE 8)]>
    <script src="{{ STATIC_PREFIX }}js/selectivizr-min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/respond.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="[fallback css]">
    </noscript><![endif]-->

    <script>
     var analyticsFileTypes = [''];
     var analyticsEventTracking = 'enabled';
    </script>
    <script>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-76863-8']);
     _gaq.push(['_trackPageview']);

     (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </head>
  <body>
    <div id="wrapper">
      {% block letrero %}{% endblock %}
      <header>
          <div class="mejor"> 
              <h1><a href="{% url website.views.home %}" title="mejorando.la"><img class="logo-chico" src="{{ STATIC_PREFIX }}images/logos/mejorandola.png" alt="mejorando.la"><img class="logo-grande" src="{{ STATIC_PREFIX }}images/logos/mejorandola-grande.png" alt="mejorando.la" width="356" height="106"></a>

              </h1>
              <a id="maestros" href="http://maestrosdelweb.com" target="_blank" title="maestros del web"><img src="{{ STATIC_PREFIX }}images/logos/maestros.png" alt="maestros del web" width="35" height="35"></a><a id="cristalab" href="http://cristalab.com" target="_blank" title="cristalab"><img src="{{ STATIC_PREFIX }}images/logos/cristalab.png" alt="cristalab" width="35" height="35"></a>
          </div>
     
            <nav class="menu">
                {% if cursos_geo %}
                {% for curso in cursos_geo %}
                <a class="banner-link" href="{{ curso.slug }}">
                  <div class="titulo">
                    {{ curso.titulo }}
                  </div>
                  <div class="fecha">
                    <strong class="dia">{{ curso.fecha|date:"d" }}</strong>
                    <div class="col2" >
                      <span class="mess">{{ curso.fecha|date:"F" }}</span>
                      <span class="lugar">{{ curso.pais }}</span>
                    </div>
                  </div>
                  <div class="img-tec"></div>
                </a>
                {% endfor %}
                {% endif %}

                <ul>
                  <li><a href="{% url cursos.views.home %}" title="cursos">Cursos</a></li>
                  <li><a href="/cursos/exalumnos/" title="Ex Alumnos">Ex alumnos</a></li>
                  <li><a href="/conferencias" title="Conferencias">Conferencias</a></li>
                  <li><a href="{% url website.views.videos %}" title="Videos">Videos</a></li>
                </ul>
            </nav>
          
      </header>
      
      {% block body %}{% endblock %}
      <footer>
        <div class="izquierda">
          <div class="text"><span>Transmisión en vivo</span><span>cada jueves</span>
          </div>
        </div>
        <div class="derecha">
          <span class="left">con</span>
          <div class="center">
            <a href="http://twitter.com/freddier" class="freddier" title="@freddier" target="_blank">@freddier</a>
            <span>+</span>
            <a href="http://twitter.com/cvander" class="cvander" title="@cvander" target="_blank">@cvander</a> 
          </div>
        </div>
      </footer>
    </div>
    
  </body>
</html>