{% extends "website/base.html" %}

{% block title %}Podcast | Mejorando.la{% endblock %}

{% block head%}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' />
	<link href="{{ STATIC_PREFIX }}css/podcast.css?v=1.2" rel="stylesheet" />
{% endblock %}
{
{% block body %}
	<div id="page">
	<section class="podcast-header">
		<!-- <a href="{% url website.views.home %}"><img src="{{ STATIC_PREFIX }}podcast/images/logo.gif" alt="Mejorando.la" /></a> -->

		<h1>Podcast</h1>


		<div class="suscribe-btns">
			<a href="{% url feed %}" class="suscribe-btn itunes">Suscribirse por iTunes</a>
			<a href="{% url feed %}" class="suscribe-btn rss">Suscribirse por RSS</a>
		</div>
	</section>


	<div class="podcast-list" ng-app="myapp" >
		{% for video in videos %}
		<div class="podcast-item" ng-controller="PlayCtrl">
			<time>{{ video.fecha|date:"F d" }}</time>

			<h2>{{ video.titulo }}</h2>

			<p>{{ video.descripcion|striptags|safe|truncatechars:240 }}</p>
			
			<div class="podcast-btns">
				<a href="{{ video.get_absolute_url }}" class="podcast-btn">Ver el episodio</a>
				<a href="{{ video.get_podcast_url }}" class="podcast-btn" target="_blank">Descargar</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
