{% extends "website/base.html" %}

{% block title %}{{video.titulo}} | Mejorando la Web{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/video.css?v=1.0" />
{% endblock %}

{% block body %}
<section id="post">
  <article id="video">
    <div class="patron"></div>

    <img src="{{ video.get_single_image_url }}" 
        alt="{{ video.titulo }}" class="absolute"/>
    <div class="cont">
      <h2 class="titulo">{{ video.titulo }}</h2>
      <span class="fehca">{{ video.fecha|date:"F.j" }}</span>
      <div class="contvideo">{{ video.embed_code|safe }}</div>
    </div>
  </article>
   <div id="contdes">
    <article class="desc">
      <a href="{% url website.views.videos %}" class="archivogo">Archivo de videos</a>
      <div class="intro">
        {{ video.descripcion|safe }}
      </div>
    </article>
  </div>
</section>
<aside class="social">
  <div id="fb-root" class="btn_facebook"><script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like  send="false" layout="button_count" width="80" show_faces="false" ></fb:like>
  </div>
  <div class="google+">
    <g:plusone size="tall" annotation="none"></g:plusone>
  </div>
  <div class="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="mejorandola" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</aside>

{% with invitados=video.get_invitados %}
{% if invitados|length > 0 %}
<div class="invitados">
  <h2>Invitados</h2>
  
  {% for invitado in invitados %}
  <div class="invitado">
    <div class="content">

      <div class="imagen">
        <img src="{{ invitado.get_imagen }}" alt="{{ invitado.nombre}}" />   
      </div>

      <div class="descripcion">
        <h3>{{ invitado.nombre }}
        <small><a href="http://twitter.com/{{ invitado.twitter }}">@{{ invitado.twitter }}</a></small></h3>
      </div>

      <div class="perfil">
        <p>{{ invitado.perfil }}</p>
      </div>

    </div>  
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% if video.participantes %}
  {% include "website/participantes.html" %}
{% endif %} 

<section id="comentarios">

  {% include "website/comment_form.html" %}

  <h2>{{ comentarios|length }} Comentario{{ comentarios|pluralize}}</h2>

  {% load gravatar %}
  {% for comentario in comentarios %}
  <article class="comentario" id="comment-{{ comentario.id }}">
    <div class="top">
      <div class="avatar">
        {% if comentario.autor_image_url %}
        <img src="{{ comentario.autor_image_url }}" height="45" width="45" alt="{{ comentario.autor }}" />
        {% else %}
        {% gravatar_img_for_email comentario.autor_email 45 %}
        {% endif %}
      </div>
      <div class="derecha">
        <h5 class="nombre">{{ comentario.autor }}</h5><span class="fecha">/ {{ comentario.fecha|date:"F.d" }} </span> 
    {% if comentario.autor_url %}
    <a href="{{ comentario.autor_url }}" target="_blank"><small>{{ comentario.autor_url|cut:"http://" }}</small></a>
    {% endif %}
      </div>
      </div>
      <div class="bla">
        {{ comentario.content|linebreaks }}
      </div>
  </article>
  {% endfor %}

  {% if comentarios|length > 5 %}
    {% include "website/comment_form.html" %}
  {% endif %}
</section>

{% endblock %}

{% block footer %}
<script src="//www.youtube.com/iframe_api"></script>
<script>
+function () {
    var ready = false;

    window.onYouTubeIframeAPIReady =  function()  {
        jQuery(function ($) {
          var $video  = $('.contvideo')
              $iframe = $video.find('iframe'),
              src     = $iframe.attr('src'),
              width   = $iframe.attr('width'),
              height  = $iframe.attr('height');

          if($iframe.size() <= 0) return;
          if(!src.match(/youtube/i)) return console.log('hi');

          $video.html('<div id="player"></div>');

          src = src.split('/');
          var videoId = src[src.length-1];

          new YT.Player('player', {
            height:  height,
            width:   width,
            videoId: videoId,
            events: {
              'onStateChange': function (e) {
                  if (e.data == YT.PlayerState.PLAYING && !ready) {
                      ready = true;
                      mixpanel.track("Video play");
                  }
              }
            }
          });  
        });
    };
}();
</script>
{% endblock %}