* {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #303030;
}
header {
  background: #303030;
  height: 45px;
}
#main {
  padding: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 10px 0;
  margin-left: 30px;
}
h2 a {
  background: url("../images/add.gif") left top no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  display: inline-block;
  margin-right: 5px;
}
h2 a:hover {
  background-color: transparent;
  background-position: left bottom;
}
h3 {
  font-size: 25px;
  margin: 3px 0;
  text-transform: uppercase;
}
.curso {
  float: left;
  width: 310px;
  height: 250px;
  margin: 30px;
  position: relative;
}
.curso.disabled {
  opacity: 0.4;
}
.curso a {
  background-color: #303030;
  color: #fff;
  padding: 1px 5px;
  display: inline block;
  text-decoration: none;
}
.curso a:hover,
.curso a.active {
  background-color: #000;
}
.curso h3 {
  color: #fff;
  line-height: 35px;
  position: absolute;
  padding: 5px;
  left: 0;
  right: 0;
  z-index: 2;
}
.curso h3 a {
  padding: 0 5px;
}
.curso img {
  -webkit-filter: grayscale(100%);
}
.curso time {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-bottom: 7px;
}
.curso .bottom {
  font-size: 12px;
  margin-top: 5px;
  position: relative;
  width: 100%;
}
.curso .bottom .asis {
  background: url("../images/asistentes.gif") left center no-repeat;
  padding-left: 12px;
  margin-right: 10px;
}
.curso .bottom a {
  margin: 0 2px;
}
.curso .bottom a:first-of-type {
  margin-left: 0;
}
.curso .bottom .actions {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}
.curso .bottom .actions a {
  background: url("../images/edit.gif") left top no-repeat;
  width: 16px;
  height: 16px;
  padding: 0;
  display: inline-block;
}
.curso .bottom .actions a:hover {
  background-color: transparent;
  background-position: left bottom;
}
.curso .bottom .actions a.del {
  background-image: url("../images/del.gif");
}
.curso .bottom .actions a.preview {
  width: 26px;
  background-image: url("../images/preview.gif");
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/**** Isotope filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.overlayed .overlay {
  display: block;
}
.overlayed #main {
  -webkit-filter: blur(5px);
}
.overlay {
  background: rgba(255,255,255,0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: none;
}
.overlay .panel {
  background: #fff;
  min-height: 500px;
  width: 791px;
  margin: 50px auto;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  padding: 20px;
}
input[type="text"],
textarea {
  background: #303030;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 16px;
  width: 300px;
}
input[type="text"].input-large,
textarea.input-large {
  width: 411px;
}
input[type="text"].input-xlarge,
textarea.input-xlarge {
  width: 627px;
}
input[type="text"].input-small,
textarea.input-small {
  width: 157px;
}
input[type="text"].input-small-pre,
textarea.input-small-pre {
  width: 144px;
}
input[type="text"]:focus,
textarea:focus {
  background: #000;
}
button {
  background: #303030;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: -6px;
  border: 1px solid #fff;
}
button:hover {
  background: #000;
}
form {
  font-size: 16px;
}
form h2 {
  margin-left: 0;
}
form h2 a {
  background-image: url("../images/back.gif");
  width: 32px;
  height: 36px;
  margin-right: 10px;
}
form h3 {
  background: url("../images/email.gif") 5px center no-repeat;
  padding-left: 35px;
  margin: 0;
  margin-top: 10px;
}
form h3.docentes {
  background-image: url("../images/docentes.gif");
}
form h3.calendario {
  background-image: url("../images/calendario.gif");
}
form textarea {
  height: 130px;
}
form .drop {
  display: inline-block;
  margin: 1px;
  border: 2px dashed #303030;
  text-align: center;
  width: 352px;
  line-height: 130px;
  height: 136px;
  overflow: hidden;
  position: relative;
}
form .drop.drop-docente {
  width: 136px;
}
form .drop img {
  position: absolute;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
}
form .drop strong {
  z-index: 1;
  position: relative;
}
form .drop:hover {
  border-color: #000;
  color: #000;
}
form .row {
  overflow: hidden;
}
form .row textarea,
form .row .drop {
  float: left;
}
