#participantes{background:#fff url("../images/post/pattern_participantes_post.png");margin:0 auto;max-width:1000px;position:relative;}
#participantes a.img_p{display:inline-block;margin-bottom:1px;position:relative;text-decoration:none;vertical-align:top;}
#participantes a.img_p:hover span{left:15px;margin-top:5px;opacity:1;top:-50px}
#participantes h4{background:#04b83b;color:#fff;display:inline-block;font-size:20px;font-weight:bold;margin-bottom:10px;padding:10px;text-transform:uppercase}
#participantes h4,#participantes .dest,#participantes .nodest{text-align:center}
#participantes img{display:inline;vertical-align:bottom}
#participantes span{background:#3298fd url("../images/post/pattern_btn_post.png");border:2px solid #3298fd;color:#fff;font-size:16px;font-weight:bold;height:20px;left:-9999px;opacity:0;padding:10px;position:absolute;top:-9999px;transition-property:margin,opacity;}
#participantes span:hover{text-decoration:underline}
#participantes span:after{border:5px solid transparent;border-color:#3298fd transparent transparent #3298fd;content:"";display:block;left:-12px;position:relative;top:12px;width:0}
#participantes .dest{margin-bottom:1px;}
#participantes .dest img{height:66px;width:66px}
#participantes .nodest img{height:44px;width:44px}
#participantes .wrap_p{background:#fff;font-size:0;margin:0 auto;max-width:660px;padding:10px 30px}
@media screen and (max-width:720px){#participantes .dest{margin-bottom:10px}
#participantes .wrap_p{padding:20px 0}
}