/*  CSS3 ✰ Classes  */
.ir {
  direction: ltr;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
  width: 100%;
}
.hidden {
  display: none;
}
.visuallyhidden {
  left: -9999px;
  position: absolute !important;
  top: -9999px;
}
.invisible {
  visibility: hidden;
}
.noselect {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}
.clearfix,
.docentes,
footer ul {
  zoom: 1;
}
.clearfix:after,
.docentes:after,
footer ul:after {
  clear: both;
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clear {
  display: block;
  clear: both;
  zoom: 1;
}
.nomargin {
  margin: 0 !important;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #008fd5;
}
body,
input,
textarea {
  color: #707072;
  font-size: 13px;
  font-family: 'open sans', arial, sans-serif;
}
li {
  list-style: none;
}
p {
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d2d2d;
  text-transform: uppercase;
  font-weight: normal;
}
h2 {
  font-size: 16px;
}
img {
  border: 0;
}
button {
  background: #ffc33e;
  border: 0;
  color: #87620a;
  padding: 6px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
button:hover {
  background: #ffd753;
}
input[type="text"] {
  background: #4a5765;
  border: 1px solid #707881;
  padding: 5px;
  padding-left: 37px;
  margin: 5px 0;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 200px;
  color: #fff;
}
input[type="text"].error::-webkit-input-placeholder {
  color: #f00;
}
input[type="text"].error:-moz-placeholder {
  color: #f00;
}
input[type="text"]:focus {
  background-color: #fff;
  border-color: #008fd5;
  color: #4a5765;
}
form.buy-form label.small-text {
  padding: 0 30px;
  padding-left: 40px;
  text-align: right;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
input.nombre {
  background-image: url("../images/nombre.gif");
  background-position: 11px 3px;
  background-repeat: no-repeat;
}
input.nombre:focus {
  background-position: 11px -59px;
}
input.tel {
  background-image: url("../images/tel.gif");
  background-position: 10px 6px;
  background-repeat: no-repeat;
}
input.tel:focus {
  background-position: 10px -82px;
}
input.email {
  background-image: url("../images/email.gif");
  background-position: 9px 6px;
  background-repeat: no-repeat;
}
input.email:focus {
  background-position: 9px -81px;
}
input.numero {
  background-image: url("../images/numero.gif");
  background-position: 9px 6px;
  background-repeat: no-repeat;
}
input.numero:focus {
  background-position: 9px -81px;
}
input.input-small {
  width: 36px;
  padding-left: 5px;
}
input.input-medium {
  width: 77px;
  padding-left: 5px;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
label.wrap-tip {
  padding-right: 20px;
  background: url("../images/ayuda.png") right center no-repeat;
  cursor: pointer;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
label.wrap-tip:hover:after {
  background: rgba(16,21,27,0.9);
  position: absolute;
  top: 5px;
  left: 75px;
  content: attr(data-tip);
  color: #fff;
  padding: 5px;
  min-width: 150px;
  z-index: 9;
  border: 1px solid #0e1217;
  text-transform: uppercase;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
}
label.wrap-tip.tip-cvc:hover:after {
  width: 200px;
  line-height: 14px;
  left: 115px;
  top: 0;
}
input.card-expiry-month {
  margin-left: 5px;
}
.tip-paypal {
  margin: 3px 0 0;
  text-align: right;
  margin-right: 26px;
}
.tip-paypal label.wrap-tip:hover:after {
  text-align: center;
  left: 115px;
  top: -8px;
  line-height: 14px;
}
.tip-paypal a {
  color: #fff;
}
a {
  color: #000;
}
/* HEADER */
header .wrapper {
  background: #323e4a;
  overflow: hidden;
}
header h1 {
  float: left;
  background: url("../images/logo-bg.gif") right top no-repeat;
  padding-right: 22px;
}
header h1 a {
  display: block;
  background: #fff;
  padding: 3px 10px;
}
header h1 img {
  display: block;
}
header li {
  float: left;
  margin-left: 20px;
}
header ul {
  overflow: hidden;
  float: left;
  background: url("../images/logos-bg.gif") left 22px repeat-x;
  padding: 3px 0 1px;
  margin-left: -12px;
  padding-left: 12px;
}
/* MAIN */
.main {
  margin-top: 13px;
}
.main h1 {
  background: #fff;
  color: #323e4a;
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  width: 950px;
}
.main .wrapper {
  background: #fff;
}
/* TOP */
.main-image {
  float: left;
}
.top {
  overflow: hidden;
}
.top .col1 {
  width: 666px;
  background: #eaedf2;
  height: 468px;
  float: left;
}
.col2 {
  background: #323e4a url("../images/pago-bg.gif") center bottom no-repeat;
  color: #fffefd;
  float: right;
  width: 284px;
  height: 448px;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 25px;
}
.col2 button.registrate {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid #bf932b;
  margin: auto;
  display: block;
  padding: 5px 50px 15px;
  line-height: 18px;
  margin-top: 15px;
}
.col2 button.registrate strong {
  font-size: 28px;
  display: block;
}
.horarios {
  color: #a0a5ab;
  font-size: 12px;
  text-align: center;
  line-height: 13px;
}
.contacto {
  text-align: center;
  font-size: 12px;
  background: #495662;
  margin: 10px -25px 0;
  padding: 5px 5px;
  color: #c7cfd7;
}
.contacto p {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 15px;
  padding-left: 45px;
  margin: 0;
  background: url("../images/skype.gif") left center no-repeat;
}
.contacto p.telefono {
  background: url("../images/telefono.gif") left center no-repeat;
  padding-right: 0;
}
.contacto a {
  color: #c7cfd7;
  text-decoration: none;
}
.contacto span {
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin-bottom: -7px;
}
.bottom .contacto {
  margin: 20px -20px 0;
}
.bottom .contacto .skype,
.bottom .contacto .telefono {
  line-height: 19px;
}
.pago-count {
  margin-bottom: 15px;
  color: #fff;
}
.pago-count span {
  font-size: 80px;
  display: block;
  background: url("../images/count.gif") center center no-repeat;
}
.pago-count a {
  font-size: 50px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 5px;
  line-height: 40px;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  background: #4b5765;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.pago-count a:hover {
  color: #2e3f47;
  background: #fff;
}
.pago-count a.pago-menos {
  padding: 0 9px;
}
/* MIDDLE */
.middle {
  clear: left;
  overflow: hidden;
  padding-top: 10px;
}
.middle .tabs {
  float: left;
  width: 665px;
}
.middle .selector {
  display: block;
  background: #eaedf2 url("../images/selector-bg.gif") right top no-repeat;
  border-left: 10px solid #eaedf2;
  padding: 22px 20px;
  width: 283px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.middle .selector h2 {
  font-weight: bold;
  margin: 0 0 20px;
  font-size: 23px;
  line-height: 25px;
  word-spacing: -1px;
}
.middle .selector h2 span {
  font-size: 14px;
  line-height: 16px;
  display: block;
}
.middle .selector h3 {
  font-size: 13px;
  word-spacing: 4;
  text-transform: none;
  line-height: 15px;
}
.middle .selector:hover {
  background: #ffc43a;
  cursor: pointer;
}
.middle .selector.active {
  background: #008fd5 url("../images/selector-bg.gif") right center no-repeat;
  border-left: 10px solid #323e4a;
}
.middle .selector.active h2,
.middle .selector.active h3 {
  color: #fff;
}
.middle ol {
  margin: 20px 0;
  margin-left: 45px;
}
.middle li {
  margin: 7px 0;
  list-style: decimal;
}
.middle .email {
  background: #eaedf2;
  width: 333px;
  float: left;
  font-size: 15px;
}
.middle .email address {
  padding: 9px 25px;
  font-style: normal;
}
.middle h2 {
  font-size: 30px;
}
.middle .tabs.js {
  position: relative;
}
.middle .tabs.js .tab {
  position: absolute;
  left: 333px;
  top: 0;
  background: #fff;
}
.middle .direccion {
  background: #eaedf2;
  width: 333px;
  height: 256px;
  float: right;
  font-size: 12px;
  text-align: center;
}
.middle .direccion .content {
  padding: 9px 25px;
  font-style: normal;
}
.middle .direccion h2 {
  font-size: 30px;
  text-align: left;
  background: url("../images/online.jpg") left center no-repeat;
  padding-left: 40px;
}
.middle .direccion h2.colombia {
  background: url("../images/pais/colombia.jpg") left center no-repeat;
}
/* DOCENTES */
.docentes {
  margin: 20px 0;
}
.docentes .docente {
  float: left;
  width: 445px;
  height: 340px;
  padding: 20px;
  border: 10px solid #eaedf2;
}
.docentes .docente.docente1,
.docentes .docente.docente2 {
  height: 250px;
}
.docentes .docente.docente1 {
  border-right-width: 5px;
}
.docentes .docente.docente2 {
  border-left-width: 5px;
}
.docentes .docente.docente3,
.docentes .docente.docente4 {
  border-right-width: 5px;
}
.docentes .docente.docente4,
.docentes .docente.docente5 {
  border-left-width: 5px;
}
.docentes .docente.docente2,
.docentes .docente.docente5 {
  float: right;
}
.docentes .docente.docente3,
.docentes .docente.docente4,
.docentes .docente.docente5 {
  width: 280px;
  border-top: 3px;
}
.docentes .docente p {
  line-height: 16px;
}
.docentes .docente p:first-of-type {
  margin-top: 20px;
}
.docentes .docente .pic {
  background: #008fd5;
  padding: 7px 20px 8px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}
.docentes .docente .pic img {
  float: left;
  margin-top: -7px;
  margin-right: 15px;
}
.docentes .docente .pic h3 {
  color: #fff;
  font-size: 13px;
}
.docentes .docente .pic h3 a {
  color: #fff;
  text-decoration: none;
}
.docentes .docente .pic strong {
  display: block;
  text-transform: none;
  font-size: 25px;
  font-weight: normal;
}
/* Politica de reembolso */
.politica {
  padding: 20px;
}
.politica h2 {
  font-weight: bold;
}
/* QUIERES */
.quieres {
  text-align: center;
  margin-bottom: 20px;
}
.quieres h2 {
  font-size: 45px;
  font-weight: normal;
  line-height: 39px;
  margin: 45px 165px 30px;
}
.quieres p {
  text-align: left;
  margin-left: 220px;
  margin-right: 220px;
}
.quieres h3 {
  margin: 17px 0;
  font-weight: bold;
}
.quieres .video {
  background: #ffc43a;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 70px;
  margin-bottom: 57px;
  height: 290px;
}
.quieres .video a {
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
  display: block;
  position: relative;
  top: -40px;
  background: #fff;
  margin: auto;
  width: 660px;
}
/* FOOTER */
footer {
  background: url("../images/footer-bg.gif") left bottom repeat-x;
  overflow: hidden;
  text-align: center;
}
footer li {
  float: left;
  margin: 0 50px;
}
footer ul {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 40px 0 60px;
}
.video {
  position: relative;
  width: 100%;
  height: 401px;
}
.video span {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../images/play.png") center center no-repeat;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.video span:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.pago {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
}
.pago.show {
  display: block;
}
.pago .overlay {
  background: #000;
  background: rgba(0,0,0,0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
.pago .panel {
  background: #323e4a;
  width: 294px;
  margin: 100px auto;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  padding: 20px;
  position: relative;
  color: #808082;
}
.pago .panel .alumno input[type="text"] {
  width: 175px;
}
.pago .panel .final {
  color: #fff;
  text-align: center;
}
.pago .panel .final h1 {
  text-align: center;
  font-size: 34px;
}
.pago .panel h2 {
  background: #ffc33e url("../images/icons.gif") 30px -143px no-repeat;
  border: 0;
  color: #87620a;
  padding: 10px 20px;
  padding-left: 100px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 -35px;
  border-bottom: 3px solid #bf932b;
}
.pago .panel h2 span {
  font-size: 13px;
  font-weight: normal;
  display: block;
  margin-top: -5px;
}
.pago .panel h2.success {
  background-image: none;
  padding-left: 20px;
  text-align: center;
}
.pago .panel h2.deposit {
  background: #ffc33e url("../images/deposit.png") 30px center no-repeat;
}
.pago .panel h2.paypal {
  background: #ffc33e url("../images/paypal.png") 30px center no-repeat;
}
.pago .panel h1 {
  margin: 18px 0;
  color: #fffefd;
  font-size: 37px;
  line-height: 35px;
  font-weight: normal;
  text-align: left;
}
.pago .panel .screen {
  margin-top: 10px;
  display: none;
}
.pago .panel .screen.active {
  display: block;
}
.pago .panel .screen.step {
  text-align: center;
}
.pago .panel .screen.step h1 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.pago .panel .screen.step h1 strong {
  font-size: 40px;
  display: block;
  margin-bottom: -10px;
}
.pago .panel .screen.step h1 strong span {
  color: #667183;
}
.pago .panel .screen.step h3 {
  color: #d3d3d3;
}
.pago .panel .screen.step form {
  margin-top: -15px;
}
.pago .panel .screen.step form .pago-btns {
  margin-top: 10px;
}
.pago .panel .screen.step form .notice {
  color: #fff;
}
.pago .panel .screen.step form .notice .err {
  color: #f00;
}
.pago .panel .screen.step form .notice a {
  color: #ffc43a;
}
.pago .panel button {
  background: #4a5765;
  color: #fff;
  text-transform: uppercase;
  padding: 9px;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
  position: relative;
}
.pago .panel button.close,
.pago .panel button.cancel {
  margin-right: 5px;
}
.pago .panel button.close:before,
.pago .panel button.cancel:before {
  content: " ";
  position: absolute;
  left: -10px;
  border-right: 10px solid #4a5765;
  border-bottom: 16px solid transparent;
  border-top: 15px solid transparent;
  -webkit-transition: border-color 0.15s;
  -moz-transition: border-color 0.15s;
  -ms-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  -ms-transition: border-color 0.15s;
  -moz-transition: border-color 0.15s;
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
  display: block;
  top: 0;
}
.pago .panel button.close:hover:before,
.pago .panel button.cancel:hover:before {
  border-right-color: #566472;
}
.pago .panel button.next,
.pago .panel button[type="submit"] {
  margin-left: 5px;
}
.pago .panel button.next:before,
.pago .panel button[type="submit"]:before {
  content: " ";
  position: absolute;
  right: -10px;
  border-left: 10px solid #4a5765;
  border-bottom: 16px solid transparent;
  border-top: 15px solid transparent;
  -webkit-transition: border-color 0.15s;
  -moz-transition: border-color 0.15s;
  -ms-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  -ms-transition: border-color 0.15s;
  -moz-transition: border-color 0.15s;
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
  display: block;
  top: 0;
}
.pago .panel button.next:hover:before,
.pago .panel button[type="submit"]:hover:before {
  border-left-color: #566472;
}
.pago .panel button.next[type="submit"],
.pago .panel button[type="submit"][type="submit"] {
  background: #ffc33e;
  color: #87620a;
}
.pago .panel button.next[type="submit"]:before,
.pago .panel button[type="submit"][type="submit"]:before {
  border-left-color: #ffc33e;
}
.pago .panel button.next[type="submit"]:hover,
.pago .panel button[type="submit"][type="submit"]:hover {
  background-color: #ffd753;
}
.pago .panel button.next[type="submit"]:hover:before,
.pago .panel button[type="submit"][type="submit"]:hover:before {
  border-left-color: #ffd753;
}
.pago .panel button:hover {
  background: #566472;
}
/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -moz-transform: translateY(-2000px);
  }
}
@-o-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
  }
}
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  -ms-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
form.sending {
  position: relative;
}
form.sending::after {
  content: "";
  text-align: center;
  background: #323e4a;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.social {
  text-align: center;
  margin-top: 14px;
}
.social .social-btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 3px 10px 6px;
  position: relative;
}
.social .social-btn.google {
  top: 6px;
}
.social .social-btn.twitter {
  top: 2px;
}
@media screen and (max-width:1000px) {
  .wrapper {
    width: auto;
  }
  .main h1 {
    width: auto;
  }
  .top .col2 {
    width: auto;
    height: auto !important;
    float: none;
  }
  .top .col1 {
    height: auto !important;
    float: none;
    width: 100%;
  }
  .top .col1 .video {
    height: auto;
  }
  .top .col1 iframe,
  .top .col1 a,
  .top .col1 img {
    width: 100%;
  }
  .main-image {
    width: 100%;
    float: none;
  }
  .pago {
    width: auto;
    float: none;
  }
  .pago button.pago-main {
    margin-right: -25px;
  }
  .middle {
    overflow: visible;
  }
  .middle .selector {
    width: auto;
  }
  .middle .tabs {
    width: auto;
    float: none;
  }
  .middle .email {
    width: auto;
    float: none;
  }
  .middle .direccion {
    width: auto;
    float: none;
  }
  .docentes {
    background-image: none;
    border: 10px solid #eaedf2;
  }
  .docentes .docente {
    width: auto !important;
    background: #fff;
    float: none !important;
    height: auto !important;
    border: 0 !important;
  }
  .quieres h2 {
    font-size: 30px;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .quieres iframe {
    width: 100%;
  }
  .quieres .video {
    margin-left: 0;
    margin-right: 0;
  }
  .quieres .video iframe,
  .quieres .video a,
  .quieres .video img {
    width: 100%;
  }
  .quieres p {
    margin-left: 10px;
    margin-right: 10px;
  }
  footer li {
    float: none;
  }
}
.small {
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  color: #a0a5ab;
  margin: 5px 0;
}
.pago .methods button {
  text-transform: uppercase;
  color: #535f6f;
  margin: 0 10px;
  width: 100px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-top: 105px;
  cursor: pointer;
}
.pago .methods button strong {
  display: block;
  font-size: 15px;
  color: #c1cbd6;
}
.pago .methods button.method-c {
  background: url("../images/tarjeta.gif") right top no-repeat;
}
.pago .methods button.method-d {
  background: url("../images/deposito.gif") right top no-repeat;
}
.pago .methods button.method-p {
  background: url("../images/paypal.gif") right top no-repeat;
}
.pago .methods button:hover {
  background-position: left top;
  color: #96a2b0;
}
.pago .methods button:hover strong {
  color: #fff;
}
.pago-forms form {
  display: none;
}
.pago-forms.deposit form.dep-form {
  display: block;
}
.pago-forms.card form.buy-form {
  display: block;
}
.pago-forms.paypal form.pay-form {
  display: block;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-webkit-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-o-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-ms-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
