/*  CSS3 ✰ Classes  */
.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
*{margin:0;padding:0}
body{background:#008fd5}
body,input,textarea{color:#707072;font-size:13px;font-family:'open sans',arial,sans-serif}
li{list-style:none}
p{margin:10px 0}
h1,h2,h3,h4,h5,h6{color:#2d2d2d;text-transform:uppercase;font-weight:normal}
h2{font-size:16px}
img{border:0}
button{background:#ffc33e;border:0;color:#87620a;padding:6px 20px;cursor:pointer;-webkit-transition:background-color .5s;-webkit-transition:background-color .5s;-moz-transition:background-color .5s;-ms-transition:background-color .5s;-o-transition:background-color .5s;-o-transition:background-color .5s;-ms-transition:background-color .5s;-moz-transition:background-color .5s;-webkit-transition:background-color .5s;transition:background-color .5s;}
button:hover{background:#ffd753}
input[type="text"]{background:#4a5765;border:1px solid #707881;padding:5px;padding-left:37px;margin:5px 0;-o-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;width:200px;color:#fff;}
input[type="text"].error::-webkit-input-placeholder{color:#f00}
input[type="text"].error:-moz-placeholder{color:#f00}
input[type="text"]:focus{background-color:#fff;border-color:#008fd5;color:#4a5765}
form.buy-form label.small-text{padding:0 30px;padding-left:40px;text-align:right;display:inline-block;zoom:1;*display:inline}
input.nombre{background-image:url("../images/nombre.gif");background-position:11px 3px;background-repeat:no-repeat;}
input.nombre:focus{background-position:11px -59px}
input.tel{background-image:url("../images/tel.gif");background-position:10px 6px;background-repeat:no-repeat;}
input.tel:focus{background-position:10px -82px}
input.email{background-image:url("../images/email.gif");background-position:9px 6px;background-repeat:no-repeat;}
input.email:focus{background-position:9px -81px}
input.numero{background-image:url("../images/numero.gif");background-position:9px 6px;background-repeat:no-repeat;}
input.numero:focus{background-position:9px -81px}
input.input-small{width:36px;padding-left:5px}
input.input-medium{width:77px;padding-left:5px}
.wrapper{width:1000px;margin:0 auto}
label.wrap-tip{padding-right:20px;background:url("../images/ayuda.png") right center no-repeat;cursor:pointer;position:relative;display:inline-block;zoom:1;*display:inline;}
label.wrap-tip:hover:after{background:rgba(16,21,27,0.9);position:absolute;top:5px;left:75px;content:attr(data-tip);color:#fff;padding:5px;min-width:150px;z-index:9;border:1px solid #0e1217;text-transform:uppercase;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:12px}
label.wrap-tip.tip-cvc:hover:after{width:200px;line-height:14px;left:115px;top:0}
input.card-expiry-month{margin-left:5px}
.tip-paypal{margin:3px 0 0;text-align:right;margin-right:26px;}
.tip-paypal label.wrap-tip:hover:after{text-align:center;left:115px;top:-8px;line-height:14px}
.tip-paypal a{color:#fff}
a{color:#000}
header .wrapper{background:#323e4a;overflow:hidden}
header h1{float:left;background:url("../images/logo-bg.gif") right top no-repeat;padding-right:22px;}
header h1 a{display:block;background:#fff;padding:3px 10px}
header h1 img{display:block}
header li{float:left;margin-left:20px}
header ul{overflow:hidden;float:left;background:url("../images/logos-bg.gif") left 22px repeat-x;padding:3px 0 1px;margin-left:-12px;padding-left:12px}
.main{margin-top:13px;}
.main h1{background:#fff;color:#323e4a;margin:auto;text-align:center;font-size:30px;padding:15px;width:950px}
.main .wrapper{background:#fff}
.main-image{float:left}
.top{overflow:hidden;}
.top .col1{width:666px;background:#eaedf2;height:468px;float:left}
.col2{background:#323e4a url("../images/pago-bg.gif") center bottom no-repeat;color:#fffefd;float:right;width:284px;height:448px;font-size:16px;line-height:19px;padding:10px 25px;}
.col2 button.registrate{text-transform:uppercase;text-align:center;border-bottom:3px solid #bf932b;margin:auto;display:block;padding:5px 50px 15px;line-height:18px;margin-top:15px;}
.col2 button.registrate strong{font-size:28px;display:block}
.horarios{color:#a0a5ab;font-size:12px;text-align:center;line-height:13px}
.contacto{text-align:center;font-size:12px;background:#495662;margin:10px -25px 0;padding:5px 5px;color:#c7cfd7;}
