@import "./nib"

*
    margin 0
    padding 0

img
    border 0

html, body
    height 100%

body
    background #298e42 url(../images/bg.jpg)
    overflow hidden

body, input, textarea, button
    font-family 'Open Sans', arial, sans-serif
    color white

header
    height 56px
    padding 0 25px 0 0
    background white
    overflow hidden

    h1
        margin-top 7px
        float left

        img
            display block

    .links
        float right

        img
            height 56px




footer
    width 100%
    background white
    box-sizing border-box
    absolute bottom left
    padding 0 25px
    height 56px
    overflow hidden

    h4
        text-transform uppercase
        font-weight normal
        font-size 20px
        margin-top 5px
        color #3D4043
        float left

        strong
            display block
            margin-top -3px
            font-size 14px

    .links
        float right

        img
            height 56px

.wmain
    background url(../images/bg-main.png) no-repeat left bottom
    absolute top 56px left 
    absolute bottom 56px right
    padding 20px

    .main
        height 100%
        width 100%
        overflow hidden

.wvideo
    float left
    width 55%

    .video
        text-align center
        margin-right 20px

        .wplayer
            position relative
            border 5px solid #79be85
            border-radius 5px
            margin-bottom 10px
            background black

            img
                width 100%

            object
            embed
            video
                width 100%
                height 100%
                absolute top left
                absolute bottom right

        .video-bottom
            overflow hidden
            position relative

            .col
                width 50%
                float left

            .hash-label
                color #3a3d42
                font-size 12px
                background white
                display inline-block
                text-transform uppercase
                padding 0 3px
                letter-spacing 5px

            .hash
                font-weight normal
                margin-top -5px
                margin-bottom 10px
                a 
                    color white
                    font-size 23px
                    text-decoration none

            .suscribir

                a
                    background #f5e00d
                    color #3a3d42
                    text-transform uppercase
                    display inline-block
                    text-decoration none
                    padding 7px 15px 5px
                    border-bottom 4px solid #3a3d42
                    transition background-color .2s ease-out

                    &:hover
                        background-color #ffee29

            .wsocial
                float left
                border 1px dashed white
                padding 8px
                margin 5px
                height 65px
.wchat
    width 45%
    height 100%
    position relative
    float left

    .chat
        width 100%
        absolute top left
        absolute bottom right

        iframe
            background #f7f7f5

@media screen and (max-width:800px)
    body
        overflow visible

    footer
        position static

    .wmain
        background-image none
        position static
        padding 0


        .main
            display block

            .wvideo
                width 100%

                .video
                    margin 0

                    .wplayer
                        border 0
                        margin 0

                    .video-bottom
                        display none

            .wchat
                width 100%

                .chat
                    position static



@media screen and (max-width:1099px)
    header
        .links
            img
                height 37px
                margin-top 9px

@media screen and (max-height:550px)
    body
        overflow visible

    footer
        position static

    .wmain
        position static