* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #298e42 url("../images/bg.jpg");
  overflow: hidden;
}
body,
input,
textarea,
button {
  font-family: 'Open Sans', arial, sans-serif;
  color: #fff;
}
header {
  height: 56px;
  padding: 0 25px 0 0;
  background: #fff;
  overflow: hidden;
}
header h1 {
  margin-top: 7px;
  float: left;
}
header h1 img {
  display: block;
}
header .links {
  float: right;
}
header .links img {
  height: 56px;
}
footer {
  width: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 25px;
  height: 56px;
  overflow: hidden;
}
footer h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  margin-top: 5px;
  color: #3d4043;
  float: left;
}
footer h4 strong {
  display: block;
  margin-top: -3px;
  font-size: 14px;
}
footer .links {
  float: right;
}
footer .links img {
  height: 56px;
}
.wmain {
  background: url("../images/bg-main.png") no-repeat left bottom;
  position: absolute;
  top: 56px;
  left: 0;
  position: absolute;
  bottom: 56px;
  right: 0;
  padding: 20px;
}
.wmain .main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wvideo {
  float: left;
  width: 55%;
}
.wvideo .video {
  text-align: center;
  margin-right: 20px;
}
.wvideo .video .wplayer {
  position: relative;
  border: 5px solid #79be85;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #000;
}
.wvideo .video .wplayer img {
  width: 100%;
}
.wvideo .video .wplayer object,
.wvideo .video .wplayer embed,
.wvideo .video .wplayer video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.wvideo .video .video-bottom {
  overflow: hidden;
  position: relative;
}
.wvideo .video .video-bottom .col {
  width: 50%;
  float: left;
}
.wvideo .video .video-bottom .hash-label {
  color: #3a3d42;
  font-size: 12px;
  background: #fff;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 3px;
  letter-spacing: 5px;
}
.wvideo .video .video-bottom .hash {
  font-weight: normal;
  margin-top: -5px;
  margin-bottom: 10px;
}
.wvideo .video .video-bottom .hash a {
  color: #fff;
  font-size: 23px;
  text-decoration: none;
}
.wvideo .video .video-bottom .suscribir a {
  background: #f5e00d;
  color: #3a3d42;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px 5px;
  border-bottom: 4px solid #3a3d42;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.wvideo .video .video-bottom .suscribir a:hover {
  background-color: #ffee29;
}
.wvideo .video .video-bottom .wsocial {
  float: left;
  border: 1px dashed #fff;
  padding: 8px;
  margin: 5px;
  height: 65px;
}
.wchat {
  width: 45%;
  height: 100%;
  position: relative;
  float: left;
}
.wchat .chat {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.wchat .chat iframe {
  background: #f7f7f5;
}
@media screen and (max-width:800px) {
  body {
    overflow: visible;
  }
  footer {
    position: static;
  }
  .wmain {
    background-image: none;
    position: static;
    padding: 0;
  }
  .wmain .main {
    display: block;
  }
  .wmain .main .wvideo {
    width: 100%;
  }
  .wmain .main .wvideo .video {
    margin: 0;
  }
  .wmain .main .wvideo .video .wplayer {
    border: 0;
    margin: 0;
  }
  .wmain .main .wvideo .video .video-bottom {
    display: none;
  }
  .wmain .main .wchat {
    width: 100%;
  }
  .wmain .main .wchat .chat {
    position: static;
  }
}
@media screen and (max-width:1099px) {
  header .links img {
    height: 37px;
    margin-top: 9px;
  }
}
@media screen and (max-height:550px) {
  body {
    overflow: visible;
  }
  footer {
    position: static;
  }
  .wmain {
    position: static;
  }
}
