{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Podcast | Mejorando.la{% endblock %}

{% block head %}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' />
	<link href="{% static "css/podcast.css" %}?v=1.0" rel="stylesheet" />

{% endblock %}

{% block footer %}
	<script data-main="{% static "js/podcast.js" %}" src="/static/js/require-jquery.js"></script>

{% endblock %}

{% block body %}
	<div id="page">
	<section class="podcast-header">
		<h1>Podcast</h1>

		<div class="suscribe-btns">
			<a href="itpc://mejorando.la/feed" class="suscribe-btn itunes">Suscribirse por iTunes</a>
			<a href="{% url feed %}" class="suscribe-btn rss">Suscribirse por RSS</a>
		</div>
	</section>


	<div class="podcast-list" ng-app="myapp" >
		{% for video in videos %}
		<div class="podcast-item" ng-controller="PlayCtrl">
			<time>{{ video.fecha|date:"F d" }}</time>

			<h2>{{ video.titulo }}</h2>

			<p>{{ video.descripcion|striptags|safe|truncatechars:240 }}</p>
			
			<div class="podcast-btns">
				<button class="play icon-play" data-playing="false" data-url="https://mejorando.la{{ video.get_podcast_url }}" >Escuchar</button>
				<a href="{{ video.get_absolute_url }}" class="podcast-btn">Ver</a>

				<a href="{{ video.get_podcast_url }}" class="podcast-btn" target="_blank">Descargar MP3</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
