* 
	margin 0
	padding 0


body 
	background #ebebeb


body, input, textarea 
	font-family "Open Sans"
	font-size 16px
	color #424242


h1, h2, h3, h4, h5 
	color #a6a6a6


header 
	background #323e4a
	height 45px




nav 
	text-align right
	margin-top -9px

nav a 
	font-size 20px
	color white
	text-transform uppercase
	background #1094d5
	padding 6px 14px
	display inline-block
	-webkit-transition background-color .3s


nav a hover 
	background-color #006ba8



a 
	text-decoration none


input, textarea 
	background white
	border 1px solid #c9cfd7


.input-titulo 
	font-size 30px
	color #1094d5
	padding 5px 10px
	width 600px


.input-descripcion 
	width 600px
	padding 5px 10px
	height 200px


.main 
	margin 10px


p 
	margin 10px 0


body 
	width 900px
	


h2 
	text-transform uppercase
	font-weight normal
	font-size 60px


.secciones
	a 
		display block
		background #797e80
		color #ebebeb

		span 
			padding 18px
			display inline-block
			background #b1b5b7
			width 500px
	
