* 
	margin 0
	padding 0 


body 
	background #ebebeb


body, input, textarea 
	font-family "Open Sans"
	font-size 16px
	color #424242


h1, h2, h3, h4, h5 
	color #a6a6a6


header 
	background #323e4a
	height 45px


.header_wrapper 



nav 
	text-align right
	margin-top -9px

button 
	font-size 20px
	color white
	border 0
	margin-left -5px
	text-transform uppercase
	background #1094d5
	padding 8px 14px
	display inline-block
	-webkit-transition background-color .3s
	cursor pointer


button:hover 
	background-color #006ba8

nav a
	font-size 20px
	color white
	border 0
	text-transform uppercase
	background #8e9caa
	padding 6px 14px
	display inline-block
	-webkit-transition background-color .3s
	cursor pointer


nav a:hover 
	background-color #54616e


a 
	text-decoration none


input, textarea 
	background white
	border 1px solid #c9cfd7
	padding 3px
	width 300px


.input-titulo 
	font-size 30px
	color #1094d5
	padding 5px 10px
	width 600px

.input-precio 
	font-size 30px
	width 70px
	padding 5px 10px

.input-pais 
	font-size 30px
	width 150px
	padding 5px 10px

textarea 
	width 600px
	padding 5px 10px
	height 200px


.main 
	margin 10px


p 
	margin 10px 0


body 
	width 960px
	


h2 
	text-transform uppercase
	font-weight normal
	font-size 60px

.secciones
	a 
		display block
		background #797e80
		color #ebebeb

		span 
			padding 18px
			display inline-block
			background #b1b5b7
			width 100px
	

