@font-face {
  font-family: 'open sans';
  src: url(" ../fonts/opensans-light-webfont.eot");
  src: url(" ../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'), url(" ../fonts/opensans-light-webfont.woff") format('woff'), url(" ../fonts/opensans-light-webfont.ttf") format('truetype'), url(" ../fonts/opensans-light-webfont.svg#OpenSansLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open sans';
  src: url(" ../fonts/opensans-bold-webfont.eot");
  src: url(" ../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'), url(" ../fonts/opensans-bold-webfont.woff") format('woff'), url(" ../fonts/opensans-bold-webfont.ttf") format('truetype'), url(" ../fonts/opensans-bold-webfont.svg#OpenSansBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #008fd5;
}
body,
input,
textarea {
  color: #707072;
  font-size: 13px;
  font-family: arial, sans-serif;
}
li {
  list-style: none;
}
p {
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open sans', arial, sans-serif;
  color: #2d2d2d;
  text-transform: uppercase;
}
h2 {
  font-size: 16px;
}
button {
  background: #ffc33e;
  border: 0;
  color: #87620a;
  padding: 6px 20px;
  cursor: pointer;
}
button:hover {
  background: #ffdb54;
}
input[type="text"] {
  background: #4a5765;
  border: 1px solid #707881;
  padding: 5px;
  padding-left: 37px;
  margin: 5px 0;
  border-radius: 2px;
  width: 200px;
}
input[type="text"].error {
  border-color: #f00;
}
input[type="text"]:focus {
  background-color: #fff;
  border-color: #008fd5;
}
input.nombre {
  background-image: url("../images/nombre.gif");
  background-position: 11px 3px;
  background-repeat: no-repeat;
}
input.nombre:focus {
  background-position: 11px -59px;
}
input.tel {
  background-image: url("../images/tel.gif");
  background-position: 10px 6px;
  background-repeat: no-repeat;
}
input.tel:focus {
  background-position: 10px -82px;
}
input.email {
  background-image: url("../images/direccion.gif");
  background-position: 14px 6px;
  background-repeat: no-repeat;
}
input.email:focus {
  background-position: 14px -80px;
}
input.numero {
  background-image: url("../images/numero.gif");
  background-position: 9px 6px;
  background-repeat: no-repeat;
}
input.numero:focus {
  background-position: 9px -81px;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
/* HEADER */
header .wrapper {
  background: #323e4a;
  overflow: hidden;
}
header h1 {
  float: left;
  background: url("../images/logo-bg.gif") right top no-repeat;
  padding-right: 22px;
}
header h1 a {
  display: block;
  background: #fff;
  padding: 3px 10px;
}
header h1 img {
  display: block;
}
header li {
  float: left;
  margin-left: 20px;
}
header ul {
  overflow: hidden;
  float: left;
  background: url("../images/logos-bg.gif") left 22px repeat-x;
  padding: 3px 0 1px;
  margin-left: -12px;
  padding-left: 12px;
}
/* MAIN */
.main {
  margin-top: 13px;
}
.main .wrapper {
  background: #fff;
}
/* TOP */
.main-image {
  float: left;
}
.pago {
  background: #323e4a url("../images/pago-bg.gif") center bottom no-repeat;
  color: #fffefd;
  float: right;
  width: 274px;
  height: 390px;
  text-align: right;
  padding: 10px 25px 30px 35px;
}
.pago h1 {
  margin: 18px 0;
  color: #fffefd;
  font-size: 37px;
  line-height: 35px;
  font-weight: normal;
  text-align: left;
}
.pago button.pago-main {
  text-transform: uppercase;
  text-align: left;
  background-image: url("../images/button-bg.gif");
  background-position: left top;
  background-repeat: no-repeat;
  margin-right: -40px;
  height: 55px;
}
.pago button.pago-main:hover {
  background-position: left bottom;
}
.pago button.pago-main strong {
  font-size: 28px;
  display: block;
  margin-bottom: -5px;
}
.pago button.pago-main > span {
  background: url("../images/icons.gif") 15px 2px no-repeat;
  padding-left: 70px;
  display: inline-block;
}
.pago.step1 button.pago-main > span {
  background-position: 15px -75px;
  font-size: 30px;
  padding-bottom: 8px;
}
.pago.step2 button.pago-main > span {
  background-position: 15px -149px;
  padding-left: 80px;
}
.pago.step3 button.pago-main > span {
  background-position: 15px -215px;
  padding-left: 80px;
}
.pago.step3 form {
  margin-bottom: 10px;
}
.pago.step4 {
  font-size: 14px;
}
.pago.step4 h1 {
  font-size: 30px;
  margin-right: 10px;
  line-height: 30px;
}
.pago.step4 button.pago-main span {
  font-size: 30px;
  background-image: none;
  padding-left: 14px;
}
.pago.step4 .pago-links {
  text-align: center;
  background: #313740;
  margin-left: -35px;
  margin-right: -25px;
  padding: 7px 0 15px;
}
.pago .pago-content {
  text-align: left;
}
.pago .pago-content button {
  text-transform: uppercase;
  font-weight: bold;
  color: #fcfbf7;
  background: #0190d6;
  border-bottom: 5px solid #0d5b7f;
  padding: 12px 20px;
  margin: 0 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.pago .pago-content button:hover {
  background: #2fa0e8;
}
.pago .pago-content button.cancel {
  background: #4b5765;
  color: #313d4b;
  border-color: #384653;
}
.pago .pago-content button.cancel:hover {
  background: #5b6675;
}
.pago .pago-methods a {
  text-transform: uppercase;
  color: #535f6f;
  margin: 10px;
  width: 100px;
  display: inline-block;
  padding-top: 105px;
  cursor: pointer;
}
.pago .pago-methods a.tarjeta {
  background: url("../images/tarjeta.gif") right top no-repeat;
}
.pago .pago-methods a.deposito {
  background: url("../images/deposito.gif") right top no-repeat;
}
.pago .pago-methods a.active {
  background-position: left top;
  color: #96a2b0;
  cursor: default;
}
.pago .pago-count {
  margin-bottom: 15px;
}
.pago .pago-count span {
  font-size: 80px;
  display: block;
  background: url("../images/count.gif") center center no-repeat;
}
.pago .pago-count a {
  font-size: 50px;
  display: inline-block;
  padding: 0 5px;
  line-height: 40px;
  margin: 0 10px;
  cursor: pointer;
}
.pago .pago-count a.pago-mas {
  background: #4b5765;
}
.pago .pago-count a.pago-mas:hover {
  color: #2e3f47;
  background: #fff;
}
.pago .pago-count a.pago-menos {
  color: #2e3f47;
  padding: 0 9px;
  background: #fff;
}
.pago .pago-count a.pago-menos:hover {
  background: #4b5765;
  color: #fff;
}
.pago.step1 h1,
.pago.step2 h1,
.pago.step3 h1 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.pago.step1 h1 strong,
.pago.step2 h1 strong,
.pago.step3 h1 strong {
  font-size: 40px;
  display: block;
  margin-bottom: -10px;
}
.pago.step1 h1 strong span,
.pago.step2 h1 strong span,
.pago.step3 h1 strong span {
  color: #667183;
}
.pago.step1 .pago-content,
.pago.step2 .pago-content,
.pago.step3 .pago-content {
  text-align: center;
}
/* MIDDLE */
.middle {
  clear: left;
  overflow: hidden;
  padding-top: 10px;
}
.middle .tabs {
  float: left;
  width: 665px;
}
.middle .selector {
  display: block;
  background: #eaedf2;
  padding: 22px 25px;
  width: 283px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.middle .selector h2 {
  font-weight: normal;
  margin: 0 0 7px;
  font-size: 24px;
  line-height: 25px;
}
.middle .selector h2 strong {
  font-size: 30px;
  display: block;
}
.middle .selector h3 {
  font-size: 13px;
  word-spacing: 4;
}
.middle .selector:hover {
  background: #ffc43a;
  cursor: pointer;
}
.middle .selector.active {
  background: #ffc43a url("../images/selector-bg.gif") right center no-repeat;
}
.middle ol {
  margin: 20px 0;
  margin-left: 45px;
}
.middle li {
  margin: 7px 0;
  list-style: decimal;
}
.middle .email {
  background: #eaedf2;
  width: 333px;
  float: left;
  font-size: 15px;
}
.middle .email address {
  padding: 9px 25px;
  font-style: normal;
}
.middle h2 {
  font-size: 30px;
}
.middle .tabs.js {
  position: relative;
}
.middle .tabs.js .tab {
  position: absolute;
  left: 333px;
  top: 0;
  background: #fff;
}
/* DOCENTES */
.docentes {
  overflow: hidden;
  background: #eaedf2;
  padding: 43px 10px;
  margin: 20px 0;
}
.docentes .docente {
  float: left;
  width: 446px;
  padding: 20px;
  background: #fff;
}
.docentes .docente.uno {
  margin-right: 3px;
}
.docentes .docente.dos {
  margin-left: 4px;
}
.docentes .docente p {
  line-height: 16px;
}
.docentes .docente p:first-of-type {
  margin-top: 20px;
}
.docentes .docente .pic {
  background: #008fd5;
  padding: 12px 20px 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}
.docentes .docente .pic img {
  float: left;
  margin-top: -12px;
  margin-right: 15px;
}
.docentes .docente .pic h3 {
  color: #fff;
  font-size: 13px;
}
.docentes .docente .pic strong {
  display: block;
  text-transform: none;
  font-size: 25px;
  font-weight: normal;
}
/* QUIERES */
.quieres {
  text-align: center;
}
.quieres h2 {
  font-size: 47px;
  font-weight: normal;
  line-height: 39px;
  margin: 45px 165px 30px;
}
.quieres p {
  text-align: left;
  margin-left: 220px;
  margin-right: 220px;
}
.quieres h3 {
  margin: 17px 0;
}
.quieres .video {
  background: #ffc43a;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 70px;
  margin-bottom: 57px;
  height: 290px;
}
.quieres .video a {
  background-size: 50px 50px;
  display: block;
  position: relative;
  top: -40px;
  background: #fff;
  margin: auto;
  width: 660px;
}
.quieres .video button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../images/play.png") center center no-repeat;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.quieres .video button:hover {
  opacity: 1;
}
/* FOOTER */
footer {
  background: url("../images/footer-bg.gif") left bottom repeat-x;
  overflow: hidden;
  text-align: center;
}
footer li {
  float: left;
  margin: 0 50px;
}
footer ul {
  display: inline-block;
  margin: 40px 0 60px;
}
@media screen and (max-width:1000px) {
  .wrapper {
    width: auto;
  }
  .main-image {
    width: 100%;
    float: none;
  }
  .pago {
    width: auto;
    height: auto;
    float: none;
  }
  .pago button.pago-main {
    margin-right: -25px;
  }
  .middle {
    overflow: visible;
  }
  .middle .selector {
    width: auto;
  }
  .middle .tabs {
    width: auto;
    float: none;
  }
  .middle .email {
    width: auto;
    float: none;
  }
  .docentes .docente {
    width: auto;
  }
  .docentes .docente.uno {
    margin-right: 0;
  }
  .docentes .docente.dos {
    margin-left: 0;
    margin-top: 10px;
  }
  .quieres h2 {
    font-size: 30px;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .quieres iframe {
    width: 100%;
  }
  .quieres .video {
    margin-left: 0;
    margin-right: 0;
  }
  .quieres .video iframe,
  .quieres .video a,
  .quieres .video img {
    width: 100%;
  }
  .quieres p {
    margin-left: 10px;
    margin-right: 10px;
  }
  footer li {
    float: none;
  }
}
