<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Gracias por tu pago al {{ curso.nombre }} de Mejorando.la INC</title>
</head>
<body style="background:#008fd5; color: #606165; font-family:Arial;">
	<div class="container" style="width:600px;margin:0 auto;background:white;">
		<table width="600" cellspacing="0" cellmargin="0" style="border-spacing:0; background:white;">
			<style>
			.ExternalClass .ecxyshortcuts
			{color:#525252;}
			.ExternalClass .ecxyshortcuts a span
			{color:#0181e3;}
			.ExternalClass .ecxReadMsgBody
			{width:100%;}
			.ExternalClass
			{width:100%;background:#008FD5;}
			.ExternalClass .ecxcontainer
			{margin:0 auto;}
			.ExternalClass
			{;}
			</style>
			
			<tr >
				
				<td style="border-spacing:0;padding: 0;">
					<table cellspacing="0" cellmargin="0"  style="border-spacing:0;"> 
						<tr>
							<td style="border-spacing:0;padding: 0;">
								<a href="http://cursos.mejorando.la" alt="cursos.mejorando.la" style="text-decoration:none;">
								<img src="http://cursos.mejorando.la/static/images/newsletter/header-info.jpg"/>	
								</a>
							</td>
						</tr>

						<tr>

						</tr>
					</table>
				</td>	
			</tr>
			
			<tr>
				

				<td style="border-spacing:0;padding: 0;">
					<p style="background:#323e4a; text-align:center; color:white; padding:10px">
						Gracias por tu pago al {{ curso.nombre }} de Mejorando.la INC
					</p>
				</td>
			</tr>
			<tr>
				<td style="border-spacing:0;padding: 0;">
					<p style="letter-spacing:7px; text-align:center; text-transform:uppercase">INFORMACIÓN DEL CURSO</p>
				</td>
			</tr>

			<tr>
				<td style="border-spacing:0;padding: 0;">
					<table cellspacing="0" cellmargin="0"  align="center" width="580" class="tabla" style="padding:10px 25px; font-size:14px; border-spacing:0; background:#f5f6fa;">
						
						<tr>
							<td>
								<p>
									INVOICE #{{ pago.id|add:"1000" }} - Mejorando.la INC
								</p><p>
									Este correo confirma que se ha cargado a tu tarjeta de crédito la cantidad de US${{ amount|floatformat }}.
								</p><p>
									Los detalles de esta transacción:
								</p><p>
									Fecha: {% now "M j, Y" %} <br>
									Desc: {{ curso.nombre }}<br>
									Cantidad: US${{ total|floatformat }} <br>
									{% if discount > 0 %}
									Desc: US${{ discount|floatformat }}<br>
									{% endif %}
								</p><p>
								
									Pagado: US${{ amount|floatformat }}
								</p>

								<p>

									Cualquier duda de tu pago, envia un mail a <a href="mailto:ventas@mejorando.la" style="color:#008fd5">ventas@mejorando.la</a>

									<br />

									Mejorando.la INC.  6355 NW 36TH ST STE 407. MIAMI, FL 33166 
								</p>
							</td>
						</tr>


					</table>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;font-size:0;border-spacing:0;padding: 0;" height="55" >

					<a href="http://www.facebook.com/mejorandola" style="color:#3d5f9f; border-left:1px solid #c4c5cb; border-top:1px solid #c4c5cb; border-bottom:1px solid #c4c5cb; padding: 9px; font-size:14px; text-decoration:none;"><b>FACEBOOK</b></a>
					<a href="http://twitter.com/mejorandola" style="color:#01a8f7;border-top:1px solid #c4c5cb; border-bottom:1px solid #c4c5cb; padding: 9px; font-size:14px;text-decoration:none;"><b>TWITTER</b></a>

					<a href="http://plus.google.com/115332677043332596585/posts" style="color:#d83c3d;border-top:1px solid #c4c5cb; border-bottom:1px solid #c4c5cb; padding: 9px;border-right:1px solid #c4c5cb; font-size:14px;text-decoration:none;"><b>GOOGLE</b>+</a>

				</td>
			</tr>
			<tr>
				<td style="font-size:0;background:#008fd5;border-spacing:0;padding: 0;" >
					<img src="http://cursos.mejorando.la/static/images/newsletter/footer.jpg"/>
				</td>
			</tr>
		</table>
		<div style="background:#008fd5; text-align:center;">
			<a href="http://maestrosdelweb.com" style="margin-right:40px;text-decoration:none;">
				<img src="http://cursos.mejorando.la/static/images/newsletter/maestros.jpg" alt="mestros del web">
			</a>
			<a href="http://cristalab.com" style="text-decoration:none;">
				<img src="http://cursos.mejorando.la/static/images/newsletter/cristalab.jpg" alt="cristalab">
			</a>
		</div>
	</div>
</body>
</html>